h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0.7em 0 0.2em 0;
    margin: 0;
}

p {
    margin: 0.5em 0 1em 0;
}

div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.u-link {
    text-decoration: none;
    cursor: pointer;
}

.u-button {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    padding: 0.4em 0.9em;
}

.u-button:hover {
    opacity: 1;
}

.u-form {
    text-align: left;
}

.u-form label {
    margin-bottom: 5px;
    display: inline-block;
}

.u-form label span {
    display: inline-block;
    width: 100px;
    margin-right: 1em;
    text-align: left;
}

.u-form .u-input,
.u-form textarea {
    font-size: 0.9em;
    padding: 3px 5px;
}

.u-form label.u-form-block span {
    width: auto;
    display: inline-block;
}

.u-form .u-submit {
    margin: 2em auto;
    display: block;
}

.kiwi-formatting-extras-quote {
    border: 1px solid #b5b5b5;
    padding: 0 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    font-family: monospace;
}

.kiwi-formatting-extras-invisible {
    font-size: 0;
}

.kiwi-formatting-extras-block {
    border-left: 4px solid #b5b5b5;
    padding: 1em;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    font-family: monospace;
    white-space: pre-wrap;
    display: inline-block;
}
