@import '../common/base.css';

:root {
    --k-primary5: #5090BA;
    --k-primary4: #2E78A8;
    --k-primary3: #0B68A2;
    --k-primary2: #074F7E;
    --k-primary1: #043E63;
    
    --k-neutral5: #f8fafb;
    --k-neutral4: #d9e4ec;
    --k-neutral3: #9db1c7;
    --k-neutral2: #5f748c;
    --k-neutral1: #34383a;
    
    --k-accent5: #ACE4FB;
    --k-accent4: #45C8FE;
    --k-accent3: #00B3FC;
    --k-accent2: #008BC3;
    --k-accent1: #005375;
    
    --k-accentstrong5: #F5D494;
    --k-accentstrong4: #E8B44E;
    --k-accentstrong3: #E09F20;
    --k-accentstrong2: #BC8721;
    --k-accentstrong1: #8D6821;
    
    --k-success5: #A8DCCE;
    --k-success4: #65d6ad;
    --k-success3: #199473;
    --k-success2: #188669;
    --k-success1: #16755B;
    
    --k-info5: #A8DCCE;
    --k-info4: #65d6ad;
    --k-info3: #199473;
    --k-info2: #188669;
    --k-info1: #16755B;
    
    --k-warning5: #FFFDF3;
    --k-warning4: #FCF7D7;
    --k-warning3: #F3D460;
    --k-warning2: #C9AE37;
    --k-warning1: #5C4C0F;
    
    --k-error5: #FF8C65;
    --k-error4: #F78D8D;
    --k-error3: #FD4202;
    --k-error2: #C53200;
    --k-error1: #9B2800;
    
    --k-actiondanger5: #FF8C65;
    --k-actiondanger4: #F78D8D;
    --k-actiondanger3: #FD4202;
    --k-actiondanger2: #C53200;
    --k-actiondanger1: #9B2800;
    
    --k-actiongo5: #A8DCCE;
    --k-actiongo4: #65d6ad;
    --k-actiongo3: #199473;
    --k-actiongo2: #188669;
    --k-actiongo1: #16755B;
}

/* IRC Text Colours */
.irc-fg-colour-white { color: #fff; }
.irc-fg-colour-black { color: #000; }
.irc-fg-colour-blue { color: #00f; }
.irc-fg-colour-green { color: #0f0; }
.irc-fg-colour-light-red { color: #ff5959; }
.irc-fg-colour-brown { color: #743a00; }
.irc-fg-colour-purple { color: #a500ff; }
.irc-fg-colour-orange { color: #ff8c00; }
.irc-fg-colour-yellow { color: #d6d63d; }
.irc-fg-colour-light-green { color: #6fff6f; }
.irc-fg-colour-cyan { color: #0cc; }
.irc-fg-colour-light-cyan { color: #6dffff; }
.irc-fg-colour-light-blue { color: #59b4ff; }
.irc-fg-colour-pink { color: #f0f; }
.irc-fg-colour-grey { color: #a6a6a6; }
.irc-fg-colour-light-grey { color: #e2e2e2; }

.irc-bg-colour-white { background-color: #fff; }
.irc-bg-colour-black { background-color: #000; }
.irc-bg-colour-blue { background-color: #00f; }
.irc-bg-colour-green { background-color: #0f0; }
.irc-bg-colour-light-red { background-color: #ff5959; }
.irc-bg-colour-brown { background-color: #743a00; }
.irc-bg-colour-purple { background-color: #a500ff; }
.irc-bg-colour-orange { background-color: #ff8c00; }
.irc-bg-colour-yellow { background-color: #d6d63d; }
.irc-bg-colour-light-green { background-color: #6fff6f; }
.irc-bg-colour-cyan { background-color: #0cc; }
.irc-bg-colour-light-cyan { background-color: #6dffff; }
.irc-bg-colour-light-blue { background-color: #59b4ff; }
.irc-bg-colour-pink { background-color: #f0f; }
.irc-bg-colour-grey { background-color: #a6a6a6; }
.irc-bg-colour-light-grey { background-color: #e2e2e2; }

.kiwi-statebrowser {
    box-shadow: 0px 0 2px #101010;
}
