
/* Welcome custom server button colour */
.kiwi-welcome-simple-form .u-submit{
    background-color: #42b992;
}
.kiwi-welcome-simple-form .u-submit:hover{
    background-color: #4bc89f;
}

.kiwi-startup-common-section-info{
    border-left-color: #42b992 !important;
    border-left-width: 6px;
}

.kiwi-wrap {
    color: #2c3e50;
    --kiwi-nick-brightness: 40;
}

.kiwi-workspace{
    margin-left: 220px;
    background-color: #f1f1f1;
}

.kiwi-workspace-background {
    background: #fff;
}

.u-link {
    color: #42b983;
}

.u-button {
    color: #2c3e50;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-align: center;
    outline: none;
}

.u-button:hover {
    opacity: 0.75;
}

.u-button-primary {
    background-color: #42b992;
    border: none;
    border-bottom: 1px solid #369c7b;
    color: #fff;
}

.u-button-secondary {
    background: rgba(117, 117, 117, 0.07);
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

.u-button-warning {
    background-color: #ca3c3c;
    border-bottom: 1px solid #5f1515;
    color: #fff4f4;
}

.input-text {
    background: #fff;
}

.input-text-label {
    color: gray;
}

.input-text--focus {
    border-color: #42b992;
}

.input-text-underline {
    border-color: #a9a9a9;
}

.input-text-underline-active {
    background: #42b992;
}

.u-form .u-input,
.u-form textarea {
    border: 1px solid #cccccc;
    border-bottom: 2px solid #42b992;
    background: #ffffff;
    outline-color: #42b992;
}

.u-tabbed-view-tabs {
    border-bottom: 1px solid #ddd;
}
.u-tabbed-view-tab {
    border-color: #42b983;
    transition: border-width 0.1s;
    font-weight: bold;
}

.irc-fg-colour-white { color: #FFFFFF; }
.irc-fg-colour-black { color: #000000; }
.irc-fg-colour-blue { color: #000080; }
.irc-fg-colour-green { color: #008000; }
.irc-fg-colour-light-red { color: #FF0000; }
.irc-fg-colour-brown { color: #800040; }
.irc-fg-colour-purple { color: #800080; }
.irc-fg-colour-orange { color: #FF8040; }
.irc-fg-colour-yellow { color: #FFFF00; }
.irc-fg-colour-light-green { color: #80FF00; }
.irc-fg-colour-cyan { color: #008080; }
.irc-fg-colour-light-cyan { color: #00FFFF; }
.irc-fg-colour-light-blue { color: #0000FF; }
.irc-fg-colour-pink { color: #FF55FF; }
.irc-fg-colour-grey { color: #808080; }
.irc-fg-colour-light-grey { color: #C0C0C0; }

.irc-bg-colour-white { background-color: #FFFFFF; }
.irc-bg-colour-black { background-color: #000000; }
.irc-bg-colour-blue { background-color: #000080; }
.irc-bg-colour-green { background-color: #008000; }
.irc-bg-colour-light-red { background-color: #FF0000; }
.irc-bg-colour-brown { background-color: #800040; }
.irc-bg-colour-purple { background-color: #800080; }
.irc-bg-colour-orange { background-color: #FF8040; }
.irc-bg-colour-yellow { background-color: #FFFF00; }
.irc-bg-colour-light-green { background-color: #80FF00; }
.irc-bg-colour-cyan { background-color: #008080; }
.irc-bg-colour-light-cyan { background-color: #00FFFF; }
.irc-bg-colour-light-blue { background-color: #0000FF; }
.irc-bg-colour-pink { background-color: #FF55FF; }
.irc-bg-colour-grey { background-color: #808080; }
.irc-bg-colour-light-grey { background-color: #C0C0C0; }

/** State browser */

.kiwi-statebrowser-channel-label {
    background: red;
    color: #dedede;
    text-align: center;
    border-radius: 50%;
    font-weight: 900;
    padding: 2px;
    line-height: 16px;
    width: 16px;
    top: 3px;
    position: absolute;
    right: 38px;
    font-weight: 100;
}





.kiwi-statebrowser-availablenetworks {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.kiwi-statebrowser-availablenetworks-toggle {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-availablenetworks-link {
    border-right: 15px solid red;
}

.kiwi-statebrowser-availablenetworks-link--connected {
    border-color: green;
}

.kiwi-statebrowser-channel-notjoined .kiwi-statebrowser-channel-name {
    color: #d03232;
}
.kiwi-statebrowser-channel-active .kiwi-statebrowser-channel-name {
    color: #df6b26;
}

.kiwi-statebrowser-channel-label {
    background: red;
    color: #dedede;
    text-align: center;
    border-radius: 50%;
    font-weight: 900;
    padding: 2px;
}

.kiwi-statebrowser-channel-label--highlight {
    background: #d62323;
}

.kiwi-statebrowser-channel-label-transition-enter-active,
.kiwi-statebrowser-channel-label-transition-leave-active {
    transition: opacity 0.1s;
}

.kiwi-statebrowser-channel-label-transition-enter,
.kiwi-statebrowser-channel-label-transition-leave-active {
    opacity: 0;
}

.kiwi-statebrowser-channel-popup {
    background: #383838;
    border: 3px solid #6b6b6b;
    border-left: none;
}


.kiwi-statebrowser-options {
    background: #383838;
}

/* Container (Nicklist / header / control input wrapper) */
.kiwi-container {
    border-bottom: 1px solid #ddd;
    top:7px;
}

.kiwi-container-toggledraw-statebrowser,
.kiwi-container-toggledraw-sidebar {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.kiwi-container-toggledraw-statebrowser {
    border-right: 1px solid #ddd;
    z-index: 0;
}

.kiwi-container-toggledraw-sidebar {
    border-left: 1px solid #ddd;
}

.kiwi-container-toggledraw-sidebar--disabled {
    color: #b8babd;
}

.kiwi-header-join-channel-button {
    background-color: #42b983;
    color: #fff;
}


/* Sidebar */
.kiwi-sidebar h3{
    cursor: default;
    padding: 0;
    margin: 0 0 5px 0;
}

.kiwi-sidebar hr{
    margin: 0 0 10px 0;
}

/* Setting max widths on sidebars for desktop to give a more uniform feel */
.kiwi-sidebar-section-user,
.kiwi-sidebar.kiwi-sidebar-section-nicklist{
    max-width: 250px;
    width: 250px;
    border-left: none;
}






/* Nicklist */
.kiwi-nicklist-info {
    border-color: #ddd;
}


/* Control input */
.kiwi-controlinput {
    background-color: #fff;
    z-index: 0;
}

.kiwi-controlinput-user {
    border-right: 1px solid #ddd;
}
.kiwi-controlinput-input-wrap {
    background: #fff;
}

/* Control input (the bottom bar) */
.kiwi-autocomplete {
    box-shadow: 0 1px 15px rgba(64, 54, 63, 0.25);
    border: 1px solid #CCC;
    background: #eee;
}

.kiwi-autocomplete-item {
    border-bottom: 1px solid #CCC;
}

.kiwi-autocomplete-item--selected {
    background: #D1EACD;
}

/** Message list */
.kiwi-messagelist {
    padding: 0;
    box-sizing: border-box;
}

.kiwi-messagelist-message {
    border-top: 1px solid #f7f5f5;
    /* some message highlights add a left border so add a default invisble one to keep them inline */
    border-left: 3px solid transparent;
}

.kiwi-messagelist-message--modern {
    border-left: 7px solid transparent;
}

.kiwi-messagelist-message--modern.kiwi-messagelist-message-topic {
    margin: 18px;
}

.kiwi-messagelist-message-whois {
    border-left-color: #939393;
}

.kiwi-messagelist-message--highlight {
    background: #e3f1d4;
    border-left-color: #80ab52;
}

.kiwi-messagelist-message--hover {
    background: #e3f1d4;
    border-left-color: #80ab52;
}

.kiwi-mssagelist-message--info-open {
    background: #f6f6f6;
}

.kiwi-messagelist-message > div {
}





.kiwi-messagelist-message--unread {
    border-left-color: #d4e5f1;
}

.kiwi-messagelist-seperator:after {
    border-color: #ddd;
}

.kiwi-messagelist-seperator + .kiwi-messagelist-message {
    border-top: none;
}

/* Not connected notice */
.kiwi-notconnected {
    background-color: #201F1F;
}

/* Topic changes */
.kiwi-messagelist-message-traffic-join {
    color: #009900;
}

.kiwi-messagelist-message-traffic-quit,
.kiwi-messagelist-message-traffic-part,
.kiwi-messagelist-message-traffic-kick {
    color: #900;
}

.kiwi-messagelist-message-traffic-quit .kiwi-nick:before,
.kiwi-messagelist-message-traffic-part .kiwi-nick:before, {
    color: #900;
    content: "← ";
}

.kiwi-messagelist-message-action .kiwi-messagelist-body {
    color: #009900;
}

/* MOTD */
.kiwi-messagelist-message-motd {
    color: #666;
}

/* Errors */
.kiwi-messagelist-message-error {
    background: #f1d4d4;
    border-left-color: #ab5252;
}

.kiwi-messagelist-message-connection-connected {
    color: #009900;
}

.kiwi-messagelist-message-connection-disconnected {
    color: #900;
}

/**
 * Message list
 */

.kiwi-messageinfo {
    background: #f6f6f6;
    border-bottom: 2px #ddd solid;
    border-top: 1px #ddd dashed;
}

.kiwi-messageinfo-urls {
    border-top: 1px solid #ddd;
}

/**
 * Network settings
 */

.kiwi-networksettings-error {
    border: 1px dashed #d86f6f;
}

.kiwi-networksettings-danger h3 {
    background: #d86f6f;
}

/**
 * Alias settings
 */
.kiwi-settings-aliases-input {
    border-color: #ccc;
}

.kiwi-settings-aliases-help {
    background: #f3f2f2;
    border: 1px dashed gray;
}

.kiwi-settings-aliases-help em {
    color: #ab1010;
    background: #fff6a5;
}

/**
 * User box
 */

.kiwi-sidebar-userbox{
    overflow-y: auto;
}

.kiwi-userbox-usermask {
    color: #9e9e9e;
}


.kiwi-userbox .main-title{
    display: none;
}

.kiwi-userbox .kiwi-userbox-basicinfo{
    borer-top: 1px solid rgba(0,0,0,0.2);
}


/**
 * Self user box
 */
.kiwi-selfuser-actions {
 border-top: 1px solid #dd;
}

.kiwi-controlinput-selfuser {
 background: #f6f6f6;
 border: 1px solid #ddd;
}

/**
 * Channel list
 */
.kiwi-channellist table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.kiwi-channellist table tbody tr {
    border-top: 1px solid lightgray;
}

.kiwi-channellist-users {
    width: 80px;
    background: #7dbd67;
    padding: 2px 0;
    border-radius: 3px;
    text-align: center;
}

/**
 * Welcome startup screen
 */

.kiwi-welcome-simple-start[disabled] {
    opacity: 0.65;
}

.kiwi-welcome-simple-error {
    border: 1px dashed #d86f6f;
}


6
.kiwi-statebrowser-newchannel a.active{
    background: #42b992;
    color: #fff;
    transition: all 0.3s;
}



.kiwi-statebrowser-channelfilter{
    padding: 0;
}



.kiwi-statebrowser-channelfilter input[type='text']{
    border-right: none;
    border-left: none;
    background: none;
    opacity: 1;
    margin-bottom: 0px;
    color: #fff;
}


.kiwi-statebrowser-channelfilter input::-webkit-input-placeholder,
.kiwi-statebrowser-channelfilter input::-ms-input-placeholder,
.kiwi-statebrowser-channelfilter input::-moz-placeholder,
.kiwi-statebrowser-channelfilter input::placeholder
{
    color: #fff !important;
    opacity: 1;
}


.kiwi-statebrowser-channelfilter::after{
    top: 8px;
    color: #fff;
    right: 17px;
    opacity: 0.9;
}


.kiwi-statebrowser-channelfilter input:focus{
    background-color: #fff;
    color: #000;
}

.kiwi-statebrowser-channelfilter input:focus:after{
    color: #000;
    opacity: 0.8;
}

.u-form label.password,
.kiwi-channelinfo-topic{
    padding-left: 5px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 5px;
}

.u-form label.password span,
.kiwi-channelinfo-topic span{
    width: 100%;
    text-align: left;
    margin: 0;
}



/* Welcome Screen fixes for the checkboxes */
.kiwi-welcome-simple-have-password input[type='checkbox']{
    margin: 2px 0 0 0;
}

.kiwi-welcome-simple-have-password label span{
    line-height: 22px;
}

/* Style fixes for the app settings section */
.kiwi-appsettings-close{
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 200;
}

.kiwi-appsettings .u-form label span{
    width: auto;
    max-width: none;
}

.app-settings-tab-container{
    width: 100%;
    max-width: none;
    position: relative;
}

/* Aliases Spacing fix */
.kiwi-appsettings-aliases .kiwi-settings-aliases{
    margin-left: 0;
    line-height: normal;
}

.kiwi-settings-aliases-input{
    height: auto;
    min-height: 500px;
    line-height: normal;
}


/* Kiwi Disconnected */
.kiwi-notconnected{
    background-color: #bf5155;
}



.kiwi-sidebar-buffersettings .u-tabbed-content{
    padding: 1em 14px;
}



.kiwi-sidebar-section-settings .kiwi-channelinfo-topic{
    padding: 0;
}


/* Tablet Size */


@media screen and (max-width: 770px){
    .kiwi-workspace{
        width: 100%;
        margin-left: 0;
    }

    .kiwi-container{
        width: 100%;
    }

    .kiwi-messagelist{
        padding-top: 51px;
    }

    /* State Browser -  Left sidebar start */

    .kiwi-statebrowser{
        left: 100%;
        width: 100%;
        z-index: 900;
    }

    .kiwi-statebrowser-newnetwork{
        position: absolute;
        bottom: 0px;
        margin-bottom: 0;
    }

    /* Statebrowser - End */


    /* Kiwi-Header - Start */
    .kiwi-header{
        border-bottom: 1px solid rgba(0,0,0,0.4);
        max-height: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        padding: 0 50px;
        position: absolute !important;
        top:0;
        overflow: visible;
    }

    .kiwi-header-name{
        font-size: 1em;
        padding: 0;
        text-align: left;
        max-height: 50px;
        overflow: hidden;
        line-height: 50px;
        width: 100%;
        padding-left: 10px;
        background-color: #fff;
    }

    .kiwi-header-options{
        position: absolute;
        top: 0;
        z-index: 10;
        right:0;
        background: #fff;
        border-bottom:none;
        border-left: 1px solid rgba(0,0,0,0.4);
    }

    .kiwi-header-options .option{
        border-left: 1px solid #ddd;
    }

    .kiwi-header-options .option:first-of-type{
        border-left: none;
    }

    .kiwi-header-options .option.leave{
        float:left;
        position: static;
    }

    .kiwi-header-options .option span{
        display: none;
    }

    .kiwi-header-options .option a{
        padding: 0 18px;
        display: block;
        height: 50px;
    }

    .kiwi-header-options .option:hover{
        background: #42b992;
    }

    .kiwi-header-options .option a:hover i{
        color: #fff;
    }

    .kiwi-header-options .option a i{
        font-size: 1.2em;
        margin: 0 !important;
        line-height: 50px;
    }

    .kiwi-header-options .option.leave{
        position: static;
    }

    .kiwi-container-toggledraw-statebrowser,
    .kiwi-container-toggledraw-sidebar{
        z-index: 0;
        height: 50px;
        border-bottom: none;
        line-height: 50px;
    }




    /* Main Chat Area - End */
    .kiwi-header-options .u-button {
        padding: 0;
        float:right;
    }
    .kiwi-header-options .u-button:before {
        display: none;
    }


    /* Start of the sidebar -- users */
    .kiwi-container--sidebar-open .kiwi-sidebar{
        width: 100%;
        z-index: 999;
        border-left: 0;
    }

    /* Sidebar title */
    .kiwi-sidebar-options{
        text-transform: uppercase;
    }

    /* Users */
    .kiwi-nicklist-users{
        padding: 0;
    }

    .kiwi-sidebar .kiwi-nicklist-users{
        padding: 0;
    }


    .kiwi-wrap--statebrowser-drawopen .kiwi-statebrowser{
        width: 75%;
    }

    /* Statebrowser open, move the main text container */
    .kiwi-wrap.kiwi-wrap--statebrowser-drawopen .kiwi-workspace{
        left: 75%;
    }

    .kiwi-container-toggledraw-statebrowser-messagecount{
        width: 30px;
    }

    .kiwi-container-toggledraw-sidebar{
        display: none;
    }

    .kiwi-container-toggledraw-statebrowser{
        z-index: 10;
    }

    /* Set all sidebars to be fullwidth on mobile devices, since they have the 'close' option at the top */
    .kiwi-sidebar.kiwi-sidebar-section-settings,
    .kiwi-sidebar.kiwi-sidebar-section-nicklist,
    .kiwi-sidebar.kiwi-sidebar-section-user{
        width: 100%;
        max-width: none;
    }

    .kiwi-sidebar.kiwi-sidebar-section-user{
        z-index: 999;
    }

    .kiwi-sidebar.kiwi-sidebar-section-user .kiwi-userbox-actions{
        padding-bottom: 0px;
    }

    .kiwi-sidebar.kiwi-sidebar-section-user .kiwi-userbox-actions .u-button{
        width: 100%;
        text-align: left;
        margin: 0 0 10px 0;
        box-sizing: border-box;
    }

    /*Styling the Client settings */
    .kiwi-appsettings{
        padding: 0;
    }

    .app-settings-tab-container .u-tabbed-view-tabs{
        margin-top: 60px;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .app-settings-tab-container .u-tabbed-view-tabs .u-tabbed-view-tab{
        padding-left: 22px;
        padding-right: 20px;
        border-bottom: 2px solid #fff;
        box-sizing: border-box;
    }

    .app-settings-tab-container .u-tabbed-view-tabs .u-tabbed-view-tab.u-tabbed-view-tab--active{
        border-bottom: 2px solid #42b992;
        background-color: #42b992;
        color: #fff;
    }

    .kiwi-appsettings .u-tabbed-content{
        padding: 10px 20px;
    }

    .kiwi-appsettings-close{
        top: 13px;
        right: 13px;
    }


    /*The following options will now open full screen on mobile, so the user can more easily edit them */
    .kiwi-appsettings,
    .kiwi-serverview{
        z-index: 999;
        background:#fff;
        position: fixed;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
    }

    .kiwi-statebrowser-newnetwork{
        background-color: #22231f;
    }

}
