@import '../common/base.css';

:root {
	--k-primary1: #4d6075;
	--k-primary2: #4d6075;
	--k-primary3: #4d6075;
	--k-primary4: #4d6075;
	--k-primary5: #4d6075;
	--k-primary6: #4d6075;
	--k-primary7: #4d6075;
	--k-neutral1: #1f2321;
	--k-neutral2: #272d2a;
	--k-neutral3: #555857;
	--k-neutral4: #969696;
	--k-neutral5: #c3c3c3;
	--k-neutral6: #e4e4e4;
	--k-neutral7: #f3f5f4;
	--k-accent1: #005375;
	--k-accent2: #026790;
	--k-accent3: #008BC3;
	--k-accent4: #00B3FC;
	--k-accent5: #45C8FE;
	--k-accent6: #83d8fb;
	--k-accent7: #ACE4FB;
	--k-accentstrong1: #8D6821;
	--k-accentstrong2: #9e7627;
	--k-accentstrong3: #BC8721;
	--k-accentstrong4: #E09F20;
	--k-accentstrong5: #E8B44E;
	--k-accentstrong6: #e8c279;
	--k-accentstrong7: #F5D494;
	--k-success1: #16755B;
	--k-success2: #188063;
	--k-success3: #188669;
	--k-success4: #299c7d;
	--k-success5: #60bd9b;
	--k-success6: #7ddcc3;
	--k-success7: #b3f1e0;
	--k-info1: #7e6f2a;
	--k-info2: #86762e;
	--k-info3: #998633;
	--k-info4: #c3ad4a;
	--k-info5: #dccc83;
	--k-info6: #eadfa9;
	--k-info7: #f7efcc;
	--k-warning1: #5C4C0F;
	--k-warning2: #8c7926;
	--k-warning3: #C9AE37;
	--k-warning4: #F3D460;
	--k-warning5: #fbe591;
	--k-warning6: #f9f4d4;
	--k-warning7: #FFFDF3;
	--k-error1: #582426;
	--k-error2: #793437;
	--k-error3: #9c4245;
	--k-error4: #bf5155;
	--k-error5: #d26b6f;
	--k-error6: #de9194;
	--k-error7: #e8c2c4;
	--k-actiondanger1: #582426;
	--k-actiondanger2: #793437;
	--k-actiondanger3: #9c4245;
	--k-actiondanger4: #bf5155;
	--k-actiondanger5: #d26b6f;
	--k-actiondanger6: #de9194;
	--k-actiondanger7: #e8c2c4;
	--k-actiongo1: #16755B;
	--k-actiongo2: #16755B;
	--k-actiongo3: #188669;
	--k-actiongo4: #199473;
	--k-actiongo5: #65d6ad;
	--k-actiongo6: #A8DCCE;
	--k-actiongo7: #A8DCCE;
}

.kiwi-statebrowser {
	--k-primary1: #4d6075;
	--k-primary2: #4d6075;
	--k-primary3: #4d6075;
	--k-primary4: #4d6075;
	--k-primary5: #4d6075;
	--k-primary6: #4d6075;
	--k-primary7: #4d6075;
	--k-neutral1: #3B4856;
	--k-neutral2: #3B4C5C;
	--k-neutral3: #415265;
	--k-neutral4: #4d6075;
	--k-neutral5: #607795;
	--k-neutral6: #9BABBF;
	--k-neutral7: #DAE0E7;
	--k-accent1: #005375;
	--k-accent2: #026790;
	--k-accent3: #008BC3;
	--k-accent4: #00B3FC;
	--k-accent5: #45C8FE;
	--k-accent6: #83d8fb;
	--k-accent7: #ACE4FB;
	--k-accentstrong1: #8D6821;
	--k-accentstrong2: #9e7627;
	--k-accentstrong3: #BC8721;
	--k-accentstrong4: #E09F20;
	--k-accentstrong5: #E8B44E;
	--k-accentstrong6: #e8c279;
	--k-accentstrong7: #F5D494;
	--k-success1: #16755B;
	--k-success2: #188063;
	--k-success3: #188669;
	--k-success4: #28AA78;
	--k-success5: #60bd9b;
	--k-success6: #7ddcc3;
	--k-success7: #b3f1e0;
	--k-info1: #7e6f2a;
	--k-info2: #86762e;
	--k-info3: #998633;
	--k-info4: #c3ad4a;
	--k-info5: #dccc83;
	--k-info6: #eadfa9;
	--k-info7: #f7efcc;
	--k-warning1: #5C4C0F;
	--k-warning2: #8c7926;
	--k-warning3: #C9AE37;
	--k-warning4: #F3D460;
	--k-warning5: #fbe591;
	--k-warning6: #f9f4d4;
	--k-warning7: #FFFDF3;
	--k-error1: #3D0B0B;
	--k-error2: #681212;
	--k-error3: #931A1A;
	--k-error4: #BA2424;
	--k-error5: #DC3838;
	--k-error6: #EB8E8E;
	--k-error7: #F3BABA;
	--k-actiondanger1: #582426;
	--k-actiondanger2: #793437;
	--k-actiondanger3: #9c4245;
	--k-actiondanger4: #bf5155;
	--k-actiondanger5: #d26b6f;
	--k-actiondanger6: #de9194;
	--k-actiondanger7: #e8c2c4;
	--k-actiongo1: #16755B;
	--k-actiongo2: #16755B;
	--k-actiongo3: #188669;
	--k-actiongo4: #199473;
	--k-actiongo5: #65d6ad;
	--k-actiongo6: #A8DCCE;
	--k-actiongo7: #A8DCCE;
}

/* IRC Text Colours */
.irc-fg-colour-white { color: #fff; }
.irc-fg-colour-black { color: #000; }
.irc-fg-colour-blue { color: #00f; }
.irc-fg-colour-green { color: #0f0; }
.irc-fg-colour-light-red { color: #ff5959; }
.irc-fg-colour-brown { color: #743a00; }
.irc-fg-colour-purple { color: #a500ff; }
.irc-fg-colour-orange { color: #ff8c00; }
.irc-fg-colour-yellow { color: #d6d63d; }
.irc-fg-colour-light-green { color: #6fff6f; }
.irc-fg-colour-cyan { color: #0cc; }
.irc-fg-colour-light-cyan { color: #6dffff; }
.irc-fg-colour-light-blue { color: #59b4ff; }
.irc-fg-colour-pink { color: #f0f; }
.irc-fg-colour-grey { color: #a6a6a6; }
.irc-fg-colour-light-grey { color: #e2e2e2; }

.irc-bg-colour-white { background-color: #fff; }
.irc-bg-colour-black { background-color: #000; }
.irc-bg-colour-blue { background-color: #00f; }
.irc-bg-colour-green { background-color: #0f0; }
.irc-bg-colour-light-red { background-color: #ff5959; }
.irc-bg-colour-brown { background-color: #743a00; }
.irc-bg-colour-purple { background-color: #a500ff; }
.irc-bg-colour-orange { background-color: #ff8c00; }
.irc-bg-colour-yellow { background-color: #d6d63d; }
.irc-bg-colour-light-green { background-color: #6fff6f; }
.irc-bg-colour-cyan { background-color: #0cc; }
.irc-bg-colour-light-cyan { background-color: #6dffff; }
.irc-bg-colour-light-blue { background-color: #59b4ff; }
.irc-bg-colour-pink { background-color: #f0f; }
.irc-bg-colour-grey { background-color: #a6a6a6; }
.irc-bg-colour-light-grey { background-color: #e2e2e2; }

.kiwi-statebrowser-usermenu-container {
    background: var(--k-neutral3);
    border-radius: 5px;
}
