@import '../common/base.css';

:root {
    /* Primary Variables */
    --brand-primary: #4d6075;
    --brand-primary-hover: #73879c;
    --brand-midtone: #f1f1f1;
    --brand-darktone: #969696;
    --brand-default-bg: #fff;
    --brand-default-fg: #22231f;

    /* Warning colors */
    --brand-notice: #f6c358;
    --brand-warning: #fcb46e;
    --brand-error: #bf5155;

    /* Connection Indicator top */
    --comp-workspace-before-bg: var(--brand-primary);
    --comp-bg-kiwi-workspace--disconnected-after-bg: var(--brand-error);

    /* Container Header */
    --comp-header-bg: var(--brand-default-bg);
    --comp-header-name-fg: var(--brand-default-fg);
    --comp-header-option-active-fg: var(--brand-default-bg);
    --comp-header-option-active-bg: var(--brand-primary);

    /* StateBrowser */
    --comp-statebrowser-fg: #fff;
    --comp-statebrowser-bg: #212d3a;
    --comp-statebrowser-bg-networkname: #687282;
    --comp-statebrowser-channel-active-bg: #ffffff0d;
    --comp-statebrowser-channel-active-fg: #fff;
    --comp-usermenu-open-bg: #161d25;
    --comp-statebrowser-network-border: #656565;


    /* Sidebars ( Right Side ) */
    --comp-sidebar-bg: #fff;
    --comp-sidebar-fg: #22231f;
    --comp-scroller-bg: #f0f0f0;
    --comp-scroller-fg: #cdcdcd;
    --comp-aboutbuffer-bg: rgba(0, 0, 0, 0.03);
    --comp-aboutbuffer-header-bg: var(--brand-primary);

    /* Misc */
    --brand-link-normal: var(--brand-primary);
    --brand-link--hover: var(--brand-primary-hover);
    --brand-shadow: rgba(0, 0, 0, 0.1);
    --comp-border: #b2b2b2;
}

/* Welcome Screens */
.kiwi-startup-common-section-info {
    border-left-color: var(--brand-primary);
}

/* StateBrowser */
.kiwi-awaystatusindicator {
    background-color: #42b992;
}

.kiwi-network-name-options {
    background-color: #4e5c6b;
}
.kiwi-statebrowser-channelfilter p a:hover {
    color: #fff;
}

/* Sidebar */
.kiwi-userbox .kiwi-userbox-actions .kiwi-userbox-action {
    border-color: var(--brand-primary);
    color: var(--brand-primary);
}

.kiwi-userbox .kiwi-userbox-actions .kiwi-userbox-action:hover {
    color: var(--brand-default-bg);
    background-color: var(--brand-primary);
}

.kiwi-statebrowser-network-status a {
    color: var(--brand-default-bg);
}

/* IRC Text Colours */
.irc-fg-colour-white { color: #fff; }
.irc-fg-colour-black { color: #000; }
.irc-fg-colour-blue { color: #00f; }
.irc-fg-colour-green { color: #009300; }
.irc-fg-colour-light-red { color: #ff5959; }
.irc-fg-colour-brown { color: #743a00; }
.irc-fg-colour-purple { color: #a500ff; }
.irc-fg-colour-orange { color: #ff8c00; }
.irc-fg-colour-yellow { color: #ff0; }
.irc-fg-colour-light-green { color: #6fff6f; }
.irc-fg-colour-cyan { color: #0cc; }
.irc-fg-colour-light-cyan { color: #6dffff; }
.irc-fg-colour-light-blue { color: #59b4ff; }
.irc-fg-colour-pink { color: #f0f; }
.irc-fg-colour-grey { color: #a6a6a6; }
.irc-fg-colour-light-grey { color: #e2e2e2; }

.irc-bg-colour-white { background-color: #fff; }
.irc-bg-colour-black { background-color: #000; }
.irc-bg-colour-blue { background-color: #00f; }
.irc-bg-colour-green { background-color: #009300; }
.irc-bg-colour-light-red { background-color: #ff5959; }
.irc-bg-colour-brown { background-color: #743a00; }
.irc-bg-colour-purple { background-color: #a500ff; }
.irc-bg-colour-orange { background-color: #ff8c00; }
.irc-bg-colour-yellow { background-color: #ff0; }
.irc-bg-colour-light-green { background-color: #6fff6f; }
.irc-bg-colour-cyan { background-color: #0cc; }
.irc-bg-colour-light-cyan { background-color: #6dffff; }
.irc-bg-colour-light-blue { background-color: #59b4ff; }
.irc-bg-colour-pink { background-color: #f0f; }
.irc-bg-colour-grey { background-color: #a6a6a6; }
.irc-bg-colour-light-grey { background-color: #e2e2e2; }
