@import '../common/base.css';

:root {
    /* Primary Variables */
    --brand-primary: #4d6075;
    --brand-primary-hover: #73879c;
    --brand-midtone: #f1f1f1;
    --brand-darktone: #969696;
    --brand-default-bg: #fff;
    --brand-default-fg: #22231f;

    /* Warning colors */
    --brand-notice: #f6c358;
    --brand-warning: #fcb46e;
    --brand-error: #bf5155;

    /* Connection Indicator top */
    --comp-workspace-before-bg: var(--brand-primary);
    --comp-bg-kiwi-workspace--disconnected-after-bg: var(--brand-error);

    /* Container Header */
    --comp-header-bg: var(--brand-default-bg);
    --comp-header-name-fg: var(--brand-default-fg);
    --comp-header-option-active-fg: var(--brand-default-bg);
    --comp-header-option-active-bg: var(--brand-primary);

    /* StateBrowser */
    --comp-statebrowser-fg: #fff;
    --comp-statebrowser-bg: #212d3a;
    --comp-statebrowser-bg-networkname: #687282;
    --comp-statebrowser-channel-active-bg: #ffffff0d;
    --comp-statebrowser-channel-active-fg: #fff;
    --comp-usermenu-open-bg: #161d25;
    --comp-statebrowser-network-border: #656565;


    /* Sidebars ( Right Side ) */
    --comp-sidebar-bg: #fff;
    --comp-sidebar-fg: #22231f;
    --comp-aboutbuffer-bg: rgba(0, 0, 0, 0.03);
    --comp-aboutbuffer-header-bg: var(--brand-primary);

    /* Misc */
    --brand-link-normal: var(--brand-primary);
    --brand-link--hover: var(--brand-primary-hover);
    --brand-shadow: rgba(0, 0, 0, 0.1);
    --comp-border: #b2b2b2;
}

/* Welcome Screens */
.kiwi-startup-common-section-info {
    border-left-color: var(--brand-primary);
}

/* StateBrowser */
.kiwi-statebrowser-usermenu-avatar {
    border-color: #fff;
}
.kiwi-statebrowser-usermenu .kiwi-awaystatusindicator {
    background-color: #42b992;
}
.kiwi-statebrowser-usermenu .kiwi-awaystatusindicator.kiwi-awaystatusindicator--away {
    background-color: var(--brand-error);
}
.kiwi-network-name-options {
    background-color: #4e5c6b;
}
.kiwi-statebrowser-channelfilter p a:hover {
    color: #fff;
}

/* Sidebar */
.kiwi-userbox .kiwi-userbox-actions .kiwi-userbox-action {
    border-color: var(--brand-primary);
    color: var(--brand-primary);
}

.kiwi-userbox .kiwi-userbox-actions .kiwi-userbox-action:hover {
    color: var(--brand-default-bg);
    background-color: var(--brand-primary);
}

.kiwi-statebrowser-network-status a {
    color: var(--brand-default-bg);
}
