/* Please use this CSS theme as a template for Kiwi Themes.

   Each Component has been given a title matching it's Filename, to make themeing easier.

 */

.kiwi-wrap {
    background: #201F1F;
    color: #dedede;
    --kiwi-nick-brightness: 50;
    --kiwi-supports-monospace: 1;
}

 /* Welcome Screen ( Welcome.vue ) */
 .kiwi-welcome-simple-form,
 .kiwi-customserver-form {
     background-color: #ffffff;
     color: #000;
     border: 1px solid #ececec;
 }

 .kiwi-welcome-simple-form .input-text {
     background: #fff;
 }

 .kiwi-welcome-simple-error {
     border: 1px dashed #d86f6f;
 }

 .kiwi-welcome-simple-form .u-submit {
     background-color: #42b992;
     color: #dedede;
 }

 .kiwi-welcome-simple .help {
     color: #666;
 }

 .kiwi-welcome-simple .help a {
     color: #666;
 }

 .kiwi-welcome-simple .help a:hover {
     color: #a9d87a;
 }

 .kiwi-customserver {
 	background-color: #fbfbfb;
 }

 /* ZNC startup screen */
 .kiwi-welcome-znc h2 {
   color: #000;
 }

 .kiwi-welcome-znc .input-text {
   background: #fff;
 }


/* App ( App.vue ) */
.kiwi-workspace {
    background: none;
}

.kiwi-workspace::before {
    background: #42b992;
}

.kiwi-workspace::after{
    background-color: rgba(255, 255, 255, 0.4);
}

.u-tabbed-content {
    background-color: #1e1e1e;
}

.u-tabbed-view-tabs {
    background: rgb(105, 105, 105);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.u-tabbed-view-tabs .u-tabbed-view-tab {
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    background: #2c2c2c;
    color: #dedede;
}

.u-tabbed-view-tabs .u-tabbed-view-tab:hover,
.u-tabbed-view-tabs .u-tabbed-view-tab.u-tabbed-view-tab--active{
    border-bottom: 3px solid #42b992;
}

/*Style all inputs */
.input-text {
    background: #dedede;
}

.input-text-label {
    color: gray;
}

.input-text--focus {
    border-color: #42b992;
}

.input-text-underline {
    border-color: #a9a9a9;
}

.input-text-underline-active {
    background: #42b992;
}

.u-form .u-input,
.u-form textarea {
    border: 1px solid #ccc;
    border-bottom: 2px solid #42b992;
    background: #dadada;
    line-height: normal;
    outline-color: #42b992;
}

.u-form span {
    display: inline-block;
    line-height: 25px;
    width: auto;
    font-weight: 500;
    font-size: 1em;
    text-align: left;
    max-width: none;
}

.u-form input[type='checkbox'] {
    border: 2px solid #000;
    background-color: #ffffff;
}

.u-form input[type='checkbox']:after {
    background: #42b992;
}

.u-form input[type='checkbox']:after {
    background: #42b992;
}

.u-form label input[type='text'],
.u-form label input[type='password'],
.u-form label input[type='email'],
.u-form textarea {
    color: #000;
    background: #dedede;
    border: 1px solid #42b992;
}

/*buttons */
.u-button {
    color: #2c3e50;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

.u-link {
    color: #42b992;
}

.u-button-primary {
    background-color: #42b992;
    border: none;
    border-bottom: 1px solid #42b992;
    color: #dedede;
}

.u-button-secondary {
    background: rgba(117, 117, 117, 0.07);
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

.u-button-warning {
    background-color: #d16c6c;
    border-bottom: 1px solid #5f1515;
    color: #fff;
}


/* Application settings ( AppSettings.vue ) */
.kiwi-appsettings {
    background: #1e1e1e;
}

.kiwi-appsettings-block {
    background-color: #272626;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.kiwi-appsettings-block h3 {
    background: #42b992;
    color: #dedede;
}

.kiwi-appsettings .u-form label span {
    color: #dedede;
}

.kiwi-appsettings-title {
    background-color: #42b992;
    color: #dedede;
}

.kiwi-appsettings-title:hover{
    background: #d16c6c;
}

/* AutoComplete - Shows when typging with a command (AutoComplete.vue) */
.kiwi-autocomplete {
    box-shadow: 0 1px 15px rgba(64, 54, 63, 0.25);
    border: 1px solid #ccc;
    background: #201F1F;
    color: #fff;
}

.kiwi-autocomplete-item {
    border-bottom: 1px solid #666;
}

.kiwi-autocomplete-item--selected {
    background: #515151;
}

/* Channel Banlist ( Channelbanlist.vue ) */
.kiwi-channelbanlist-table tr {
    border-bottom: 1px solid #ddd;
}

/* Channel List ( ChannelList.vue ) */
.kiwi-channellist table tbody tr:nth-child(even) {
    background-color: #262626;
}

.kiwi-channellist table tbody tr {
    border-top: 1px solid lightgray;
}

.kiwi-channellist-users {
    background: #42b992;
}

/* Container - Main ( Container.vue ) */
.kiwi-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.kiwi-header-join-channel-button {
    background-color: #42b983;
    color: #dedede;
}

.kiwi-container-toggledraw-statebrowser,
.kiwi-container-toggledraw-sidebar {
    background: #1e1e1e;
}

.kiwi-container-toggledraw-statebrowser {
    border-right: 1px solid #ddd;
}

.kiwi-container-toggledraw-sidebar {
    border-left: 1px solid #ddd;
}

.kiwi-container-toggledraw-sidebar--disabled {
    color: #b8babd;
}

.kiwi-container-toggledraw-statebrowser-messagecount {
    background-color: #42b983;
    color: #fff;
}

.kiwi-container-toggledraw-statebrowser-messagecount::after {
    border: 0.6em solid transparent;
    border-right-color: #ddd;
}

/* Sidebar uservue colouring */
.kiwi-userbox,
.kiwi-userbox-usermask {
    color: #dedede;
}

.kiwi-userbox .kiwi-userbox-actions {
    color: #dedede;
}

.kiwi-userbox .kiwi-userbox-actions .u-button {
    border-color: #dedede;
    color: #dedede;
    transition: all 0.3s;
}

.kiwi-userbox .kiwi-userbox-actions .u-button:hover {
    color: #dedede;
}

.u-form.kiwi-ignore-user-form {
    color: #dedede;
}

/* Container Header ( ContainerHeader.vue ) */
.kiwi-header {
    background: #1e1e1e;
    color: #dedede;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.kiwi-header-topic {
    border-top: 2px solid #42b992;
    border-bottom: 1px solid #42b992;
    color: #dedede;
}

.kiwi-header-buffersettings {
    border-top: 1px solid #ddd;
}

.kiwi-header-topic > div {
    color: #dedede;
}

.kiwi-header-name {
    color: #dedede;
}

.kiwi-header-buffersettings {
    border-top: 1px solid #ddd;
}

.kiwi-header-option {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.kiwi-header-option a:hover,
.kiwi-header-option--active a {
    background-color: #42b992;
    color: #dedede;
    opacity: 1;
}

.kiwi-statebrowser-network .kiwi-statebrowser-network-header a.kiwi-statebrowser-network-toggle:hover {
    background-color: #d16c6c;
    border-top-color: #d16c6c;
}

.kiwi-header-option-topic.kiwi-header-option--active,
.kiwi-header-option-leave a:hover {
    background-color: #d16c6c;
    color: #dedede;
}

.kiwi-statebrowser-channel-settings,
.kiwi-statebrowser-channel-leave {
    background-color: #22231f;
}

.kiwi-statebrowser-channel-settings:hover{
    background-color: #42b992;
}

.kiwi-header .kiwi-header-notjoined .u-link {
    background-color: #42b992;
    color: #dedede;
}

.kiwi-header .kiwi-header-notjoined .u-link:hover {
    background-color: #5ec9a6;
}

/* The not joined button */
.kiwi-header .kiwi-header-notjoined .u-link {
    background-color: #42b992;
    color: #dedede;
}

.kiwi-header .kiwi-header-notjoined .u-link:hover {
    background-color: #5ec9a6;
}

.kiwi-header-name {
    color: #dedede;
}

.kiwi-header-server-connection .u-button {
    background: #42b992;
    color: #dedede;
}

/* Control Input - displayed at bottom of Kiwi ( ControlInput.vue ) */
.kiwi-controlinput {
    background: #151515;
    color: #dedede !important;
}

.kiwi-controlinput .kiwi-controlinput-user,
.kiwi-controlinput-inner .kiwi-controlinput-user {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}


.kiwi-controlinput-active-tool {
    background: #f6f6f6;
    border: 1px solid #ddd;
}

.kiwi-messagelist {
    background: #fff;
}

.kiwi-messagelist-message--info-open {
    background: #f6f6f6;
}

.kiwi-messageinfo-urls {
    border-top: 1px solid #ddd;
}

.kiwi-messagelist-message.kiwi-messagelist-message--unread {
    border-left-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
}

.kiwi-messagelist-message.kiwi-messagelist-message.kiwi-messagelist-message--unread.kiwi-messagelist-message--unread {
    border-left: 2px solid #42b992;
}

/* Message list - Standard messages ( MessageList.vue ) */
.kiwi-messagelist {
    background: transparent;
}

.kiwi-messagelist-seperator {
    color: #000;
}

.kiwi-messagelist-message-action .kiwi-messagelist-body {
    color: #44f944;
    font-style: italic;
}

.kiwi-messagelist-body a {
    color: #0a6bb4;
}

.kiwi-messagelist-body a:hover {
    color: #3a99e1;
}

.kiwi-container-empty .u-button {
    background-color: #42b992;
    color: #fff;
}

/*Container Header */
.control-input {
    background: #1e1e1e;
    color: #dedede;
}

.kiwi-messagelist-message--highlight{
    background-color: rgba(255, 255, 255, 0.1);
}

/*When hovering over a users messages */
.kiwi-messagelist-message--hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.kiwi-messagelist-message--modern .kiwi-messagelist-body {
    color: #dedede;
}

.kiwi-container--sidebar-open .kiwi-messagelist::after {
    background-color: #000;
}

.kiwi-messagelist-message.kiwi-messagelist-message-connection .kiwi-messagelist-body {
    background-color: #42b992;
    color: #dedede;
}

.kiwi-messagelist-message.kiwi-messagelist-message-disconnected .kiwi-messagelist-body {
    background-color: #b9424a;
    color: #dedede;
}

/*Sidebar*/
.kiwi-sidebar {
    background: #1e1e1e;
}

.kiwi-container--sidebar-pinned .kiwi-sidebar {
    border-color: #464646;
}

.kiwi-sidebar .u-form label input[type="text"],
.kiwi-sidebar .u-form textarea {
    background: #d1d1d1;
    color: #000;
}

.kiwi-sidebar .u-form label span,
.kiwi-nicklist-usercount,
.kiwi-sidebar h3,
.kiwi-channelbanlist-table {
    color: #dedede;
}


/* Style the banlist */
.kiwi-channelbanlist-table-actions:hover {
    background-color: #b9424a;
}

.kiwi-channelbanlist-table-actions:hover i {
    color: #dedede;
}

/* Topic Styling */
.kiwi-messagelist-message--compact.kiwi-messagelist-message-topic,
.kiwi-messagelist-message--modern.kiwi-messagelist-message-topic {
    background: rgba(0,0,0,0.02);
    border: 2px solid #42b992;
    color: #dedede;
}

.kiwi-messagelist-message-traffic-join {
    color: #090;
}

.kiwi-messagelist-message-traffic-quit,
.kiwi-messagelist-message-traffic-part,
.kiwi-messagelist-message-traffic-kick {
    color: #fb5151;
}

.kiwi-messagelist-message-traffic-quit .kiwi-nick::before,
.kiwi-messagelist-message-traffic-part .kiwi-nick::before {
    color: #fb5151;
}

.kiwi-messagelist-seperator::after {
    border-color: #ddd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* Errors */
.kiwi-messagelist-message-error {
    background: #f1d4d4;
    border-left-color: #ab5252;
}

.kiwi-messagelist-message-error .kiwi-messagelist-body {
    color: #000;
}

.kiwi-messagelist-message-connection-connected {
    color: #090;
    border: none;
}

.kiwi-messagelist-message-connection-disconnected .kiwi-messagelist-body {
    color: #bf5155;
}

/* Kiwi Modern Message list ( MessageListMessageModern.vue ) */
.kiwi-messagelist-modern-avatar {
    border: 2px solid #42b992;
}
.kiwi-messagelist-nick {
    color: #000;
}

.kiwi-messagelist-time {
    color: #a0a09f;
}

.kiwi-messagelist-message--modern {
  border-top: 1px solid #ffffff1a;
}

.kiwi-messagelist-message--modern.kiwi-messagelist-message--authorrepeat {
  border-top: none;
}

.kiwi-messagelist-message--modern.kiwi-messagelist-message-topic.kiwi-messagelist-message--unread {
    border-left: 2px solid #42b992;
}

.kiwi-messagelist-message--modern.kiwi-messagelist-message-topic {
  border-bottom: 2px solid #42b992;
}

.kiwi-messagelist-message--modern.kiwi-messagelist-message--authorrepeat.kiwi-messagelist-message-topic {
    border-top: 2px solid #42b992;
}

.kiwi-messagelist-message--modern.kiwi-messagelist-message-connection-connected {
    background: #42b992;
}

.kiwi-messagelist-message--compact .kiwi-messagelist-message-privmsg:hover,
.kiwi-messagelist-message--compact .kiwi-messagelist-message-action:hover,
.kiwi-messagelist-message--compact .kiwi-messagelist-message-notice:hover, {
    cursor: pointer;
    border-left-color: #80ab52;
}

/* Network Settings ( NetworkSettings.vue ) */
.kiwi-networksettings .kiwi-title {
    background: #42b992;
    color: #dedede;
    border-top: 1px solid #42b992;
}

.kiwi-network-nicknamelabel {
    color: rgb(128, 128, 128);
}

.kiwi-networksettings .kiwi-padded-form-element-container.kiwi-dangerzone {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.kiwi-networksettings .kiwi-title span {
    color: #42b992;
    background: #dedede;
}

.kiwi-networksettings .u-form {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.kiwi-networksettings input[type='text'],
.kiwi-networksettings input[type='password'],
.kiwi-networksettings input[type='email'],
.kiwi-networksettings textarea,
.kiwi-networksettings .input-text input {
    background: rgb(62, 62, 62);
    color: #fff;
}

.kiwi-networksettings-advanced h3:hover {
    color: #42b992;
}

.kiwi-networksettings .u-form {
    background: rgb(62, 62, 62);
    color: #dedede;
}

.kiwi-networksettings .u-form .input-text {
    background: none;
}

.kiwi-networksettings .u-form span {
    background: none;
    color: #dedede;
}

.kiwi-networksettings-error {
    border: 1px dashed #d86f6f;
}

.kiwi-networksettings .kiwi-customserver-tls {
    color: #bfbfbf;
}

.kiwi-networksettings .kiwi-connect-to-newnetwork {
    background: #42b992;
    color: #fff;
}

.kiwi-networksettings  .kiwi-customserver-tls--enabled {
    color: green;
}

.kiwi-networksettings  .kiwi-customserver-tls--enabled .kiwi-customserver-tls-lock {
    color: green;
}

.kiwi-networksettings  .kiwi-customserver-tls-minus {
    color: red;
}

.kiwi-networksettings .kiwi-networksettings-server-types .kiwi-network-type-button {
    border: 1px solid #42b992;
    color: #42b992;
}

.kiwi-networksettings .kiwi-networksettings-server-types .kiwi-network-type-button:hover,
.kiwi-networksettings .kiwi-networksettings-server-types .kiwi-network-type-button.kiwi-networksettings-server-type-active {
    background: #42b992;
    color: #fff;
}

.u-button.kiwi-channellist-refresh.u-button-secondary {
  background: #42b992;
}

/* Nicklist ( Nicklist.vu ) */
.kiwi-nicklist-usercount {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.kiwi-nicklist-info {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.kiwi-nicklist-info input {
    background-color: #dedede;
    color: #000;
    font-weight: normal;
}

.kiwi-nicklist-user {
    border-top: 1px solid #858585;
}

.kiwi-nicklist-user:first-of-type {
    border-top: none;
}

.kiwi-nicklist-user:after {
    color: #666764;
}

.kiwi-nicklist-user:hover {
    background-color: #42b992;
    color: #dedede;
}

.kiwi-nicklist-user:hover {
    background-color: #42b992;
    cursor: pointer;
    color: #dedede;
}

.kiwi-nicklist-user:hover .kiwi-nicklist-user-nick {
    color: #dedede !important;
}

.kiwi-nicklist-user:hover .kiwi-nicklist-user-nick:after {
    color: #dedede;
}

.kiwi-nicklist-messageuser {
    color: #666764;
}

.kiwi-nicklist-info i.fa-search {
    color: #cfcfcf;
}

/* Not connected message ( NotConnected.vue ) */
.kiwi-notconnected {
    color: #dedede;
    background-color: #bf5155;
}

.kiwi-notconnected-button {
    border: 2px solid #dedede;
    color: #dedede;
}

.kiwi-notconnected-button:hover{
    background-color: #dedede;
    color: #000;
}

/* Self User ( SelfUser.vue ) */
.kiwi-controlinput-selfuser {
    background: #201F1F;
    border: 1px solid #ddd;
    color: #dedede;
}

.kiwi-selfuser-actions {
    border-top: 1px solid #ddd;
}

.kiwi-selfuser-actions .u-button-secondary {
  background-color: #b9424a;
  color: #dedede;
}

/* Settings Aliases ( SettingsAliases.vue ) */
.kiwi-settings-aliases-input {
    border-color: #ccc;
}

.kiwi-settings-aliases-showhelp {
    display: block;
}

.kiwi-settings-aliases-help {
    background: transparent
    border: 1px dashed gray;
}

.kiwi-settings-aliases-help em {
    color: #42b992;
    font-weight: 900;
}

/* Sidebar ( Sidebar.vue ) */
.kiwi-sidebar-options {
    background-color: #42b992;
    color: #dedede;
}

.kiwi-sidebar-options:hover {
    background: #d16c6c;
}

/* Statebrowser - Left sidebar ( StateBrowser.vue ) */
.kiwi-statebrowser {
    background: #22231f;
    color: #dedede;
}

.kiwi-statebrowser-divider {
    background: rgba(255, 255, 255, 0.3);
}

.kiwi-messageinfo {
    background: #f6f6f6;
    border-bottom: 2px #ddd solid;
    border-top: 1px #ddd dashed;
}

.kiwi-statebrowser-usermenu-avatar {
    border: 2px solid #42b992;
    background-color: #000;
    color: #dedede;
}

.kiwi-statebrowser-usermenu-avatar:hover {
    background-color: #42b992;
    color: #dedede;
}

.kiwi-statebrowser-scrollarea {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* If the user clicks on their avatar we 'open' the settings */
.kiwi-statebrowser-usermenu--open {
    background: rgba(255, 255, 255, 0.1);
}

.kiwi-statebrowser--usermenuopen .kiwi-statebrowser-usermenu-avatar {
    background-color: #42b992;
    color: #dedede;
}

/* User Settings */
.kiwi-statebrowser-appsettings {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.kiwi-statebrowser-appsettings:hover {
    background: #42b992;
    color: #dedede;
    opacity: 1;
}

/* Statebrowser list */
.kiwi-statebrowser-scrollarea h4,
.kiwi-statebrowser-scrollarea h4 {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.kiwi-network-name-options {
    background-color: #131312;
}

.kiwi-network-name-options .option-button:hover,
.kiwi-network-name-options .option-button.active {
    background-color: #42b992;
    color: #dedede;
}

.kiwi-network-name-options .kiwi--collapse {
    background: #d16c6c;
}

.kiwi-statebrowser-channel-leave:hover{
    background: #d16c6c;
}

/* Add channel input */
.kiwi-statebrowser-newchannel-inputwrap {
    color: #dedede;
}

.kiwi-statebrowser-newchannel-inputwrap input[type='text'] {
    color: #000;
    background: #dedede;
}

.kiwi-statebrowser-newchannel-inputwrap--focus {
    opacity: 1;
    background-color: #dedede;
}

/* Set the height of the networks scroll box */
.kiwi-statebrowser-scrollarea {
    background-color: #131312;
}

/*Channel search input */
.kiwi-statebrowser-channelfilter {
    transition: all 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #131312;
}

.kiwi-statebrowser-channelfilter::after {
    color: #000;
}

.kiwi-statebrowser-channelfilter input {
    background-color: #dedede;
    color: #000;
    outline: none;
}

.kiwi-statebrowser-channelfilter p {
    color: #42b992;
    font-size: 0.9em;
    margin: 10px 0 10px 0;
    cursor: pointer;
    transition: all 0.3s;
}

.kiwi-statebrowser-channelfilter p:hover {
    color: #6dcdad;
}

.kiwi-statebrowser-newnetwork a {
    color: #dedede;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.kiwi-statebrowser-newnetwork a:hover {
    background: #42b992;
    border-color: #42b992;
    opacity: 1;
    color: #dedede;
}

.kiwi-statebrowser-network .kiwi-statebrowser-network-header {
    background-color: #454545;
}

.kiwi-statebrowser-network .kiwi-statebrowser-network-header a {
    color: #dedede;
}

/* Active Network Styling */
.kiwi-statebrowser-network.kiwi-statebrowser-network--active .kiwi-statebrowser-network-header {
    border-left: 3px solid #42b992;
}

/* Channel Styling */
.kiwi-statebrowser-channels  .kiwi-statebrowser-channel {
    border-bottom: 1px solid #4a4b47;
    color: #dedede;
}

.kiwi-statebrowser-channels  .kiwi-statebrowser-channel .kiwi-statebrowser-channel-name {
    color: #dedede;
}

.kiwi-statebrowser-channels  .kiwi-statebrowser-channel .kiwi-statebrowser-channel-name  .kiwi-statebrowser-channel-label {
    background: #d16c6c;
}

.kiwi-statebrowser-channel.kiwi-statebrowser-channel-active {
    border-left: 3px solid #42b992;
}

.kiwi-search-channels.active{
    background: #42b992;
}


/* New Channel Button */
.kiwi-statebrowser-newchannel a {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.kiwi-statebrowser-newchannel a:hover {
    background: #42b992;
    opacity: 1;
    color: #dedede;
}

.kiwi-statebrowser-usermenu-body .close-icon {
    background-color: #fc6262;
    color: #dedede;
}

.kiwi-statebrowser-usermenu-body .close-icon:hover {
    background-color: #fe7575;
}

.kiwi-statebrowser-switcher a:first-of-type {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-switcher a:hover {
    background: rgba(255, 255, 255, 0.1);
}


.kiwi-statebrowser-options {
    background: #383838;
}

.kiwi-statebrowser-nonetworks {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-availablenetworks-toggle {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-availablenetworks {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.kiwi-statebrowser-availablenetworks-link {
    border-right: 15px solid red;
}

.kiwi-statebrowser-availablenetworks-link--connected {
    border-color: #42b992;
}

.kiwi-statebrowser-channel-notjoined .kiwi-statebrowser-channel-name {
    color: #d03232;
}

.kiwi-statebrowser-channel-active .kiwi-statebrowser-channel-name {
    color: #df6b26;
}

.kiwi-statebrowser-channel-label {
    background: #42b992;
    color: #dedede;
}

.kiwi-statebrowser-channel-label--highlight {
    background: #e45e5e;
}

.kiwi-statebrowser-channel-popup {
    background: #383838;
    border: 3px solid #6b6b6b;
    border-left: none;
}

.kiwi-statebrowser-newchannel-inputwrap--focus {
    opacity: 1;
}

.kiwi-statebrowser-usermenu-body .close-icon {
    background-color: #fc6262;
    color: #dedede;
}

.kiwi-statebrowser-usermenu-body .close-icon:hover {
    background-color: #fe7575;
}

.kiwi-statebrowser-switcher a:first-of-type {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-switcher a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.kiwi-statebrowser-options {
    background: #383838;
}

.kiwi-statebrowser-nonetworks {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-availablenetworks-toggle {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-availablenetworks {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.kiwi-statebrowser-channel-notjoined .kiwi-statebrowser-channel-name {
    color: #d03232;
}

.kiwi-statebrowser-channel-active .kiwi-statebrowser-channel-name {
    color: #df6b26;
}

.kiwi-statebrowser-channel-label {
    background: #42b992;
    color: #dedede;
}

.kiwi-statebrowser-channel-label--highlight {
    background: #d62323;
}

.kiwi-statebrowser-channel-popup {
    background: #383838;
    border: 3px solid #6b6b6b;
}

/* Statebrowser Network - ( StateBrowser.vue ) */
.kiwi-statebrowser-network-header {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-network-status {
    background: rgba(255, 255, 255, 0.1);
}

.kiwi-statebrowser-channel-active {
    background: rgba(255, 255, 255, 0.05);
}


/* User Box Styling ( UserBox.vue ) */
.kiwi-userbox-usermask {
    color: #9e9e9e;
}

.kiwi-userbox-opactions {
    border-top: 1px solid #9e9e9e;
}

.kiwi-userbox-opactions label select {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.kiwi-userbox .main-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.kiwi-userbox .kiwi-userbox-basicinfo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.kiwi-userbox-opactions {
    border-top: 1px solid #9e9e9e;
}

.kiwi-userbox-opactions label select {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.kiwi-userbox-opaction-kick ,
.kiwi-userbox-opaction-ban,
.kiwi-userbox-opaction-kickban {
    color: #dedede;
}

.kiwi-userbox-opaction-kick {
    background-color: #f6c358;
}

.kiwi-userbox-opaction-kick:hover {
    background-color: #fcce6e;
}

.kiwi-userbox-opaction-ban {
    background-color: #fcb46e;
}

.kiwi-userbox-opaction-ban:hover{
    background-color: #ffca97;
}

.kiwi-userbox-opaction-kickban{
    background-color: #fb846a;
}

.kiwi-userbox-opaction-kickban:hover{
    background-color: #ffaf9e;
}

.kiwi-userbox-whois {
    border: 1px solid #9e9e9e;
    border-radius: 2px;
}

.kiwi-userbox .kiwi-userbox-actions {
    color: #fff;
    border-color: #fff;
}

.kiwi-userbox-actions .kiwi-userbox-action {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}

.kiwi-userbox-actions .kiwi-userbox-action:hover {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.kiwi-messagelist-message-whois {
    border-left-color: #939393;
}

.kiwi-messagelist-message.kiwi-messagelist-message--hover,
.kiwi-messagelist-message.kiwi-messagelist-message--highlight,
.kiwi-messagelist-message.kiwi-messagelist-message-traffic--hover {
    position: relative;
    opacity: 1;
    border-color: #dedede;
}

/* MOTD */
.kiwi-messagelist-message-motd {
    color: #666;
}
