.kiwi-wrap {
    color: #ccc;
    background: #201F1F;
}

.kiwi-workspace:before {
    /* The top bar at the top of the startup page */
    background: -webkit-linear-gradient(left, #BDDE6B 0%,#BDDE6B 20%, #7DBD67 20%, #7DBD67 40%,#ECED77 40%,#ECED77 60%,#F6C358 60%,#F6C358 80%,#F66B58 80%) 0 0 no-repeat;
}

.kiwi-workspace-background {
}

h1, h2, h3, h4, h5, h6 {
    color: #ffc66d;
}

.u-link {
    color: #42b983;
}
.u-button {
    color: #ccc;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-align: center;
}
.u-button:hover {
    opacity: 0.75;
}
.u-button-primary {
    background-color: #4d6b0f;
    border-bottom: 1px solid #828282;
    color: #ccc;
}
.u-button-secondary {
    border-bottom: 1px solid #9a9a9a;
    background: #4c4b4b;
}
.u-button-warning {
    background-color: #922c2c;
    border-bottom: 1px solid #ca3c3c;
    color: #fff4f4;
}

.input-text {
}
.input-text input {
    background: #353535;
    color: #ffffff;
}
.input-text-label {
    color: gray;
}
.input-text--focus {
    border-color: #42b983;
}
.input-text-underline {
    border-color: #a9a9a9;
}
.input-text-underline-active {
    background: #42b983;
}

.u-form .u-input,
.u-form textarea {
    border: 1px solid #515151;
    border-bottom: 2px solid #5a5a5a;
    background: #333;
    color: #ccc;
    outline-color: #42b983;
}

.u-tabbed-view-tabs {
    background: #333;
    border-radius: 8px;
}
.u-tabbed-view-tab {
    border-color: #42b983;
    transition: border-width 0.1s;
    font-weight: bold;
}

.irc-fg-colour-white { color: #FFFFFF; }
.irc-fg-colour-black { color: #000000; }
.irc-fg-colour-blue { color: #000080; }
.irc-fg-colour-green { color: #008000; }
.irc-fg-colour-light-red { color: #FF0000; }
.irc-fg-colour-brown { color: #800040; }
.irc-fg-colour-purple { color: #800080; }
.irc-fg-colour-orange { color: #FF8040; }
.irc-fg-colour-yellow { color: #FFFF00; }
.irc-fg-colour-light-green { color: #80FF00; }
.irc-fg-colour-cyan { color: #008080; }
.irc-fg-colour-light-cyan { color: #00FFFF; }
.irc-fg-colour-light-blue { color: #0000FF; }
.irc-fg-colour-pink { color: #FF55FF; }
.irc-fg-colour-grey { color: #808080; }
.irc-fg-colour-light-grey { color: #C0C0C0; }

.irc-bg-colour-white { background-color: #FFFFFF; }
.irc-bg-colour-black { background-color: #000000; }
.irc-bg-colour-blue { background-color: #000080; }
.irc-bg-colour-green { background-color: #008000; }
.irc-bg-colour-light-red { background-color: #FF0000; }
.irc-bg-colour-brown { background-color: #800040; }
.irc-bg-colour-purple { background-color: #800080; }
.irc-bg-colour-orange { background-color: #FF8040; }
.irc-bg-colour-yellow { background-color: #FFFF00; }
.irc-bg-colour-light-green { background-color: #80FF00; }
.irc-bg-colour-cyan { background-color: #008080; }
.irc-bg-colour-light-cyan { background-color: #00FFFF; }
.irc-bg-colour-light-blue { background-color: #0000FF; }
.irc-bg-colour-pink { background-color: #FF55FF; }
.irc-bg-colour-grey { background-color: #808080; }
.irc-bg-colour-light-grey { background-color: #C0C0C0; }




/**
 * State browser
 */

.kiwi-statebrowser {
    background: #2b2b2b;
    /* this also looks cool, background: #05394a; */
    color: rgb(137, 155, 166);
}

.kiwi-statebrowser-divider {
    background: rgba(255,255,255,0.3);
    margin: 8px 12px;
    height: 1px;
}

.kiwi-statebrowser-channel-name {
    color: #a7a7a7;
}

.kiwi-statebrowser-channel-notjoined .kiwi-statebrowser-channel-name {
    color: #d03232;
}
.kiwi-statebrowser-channel-active .kiwi-statebrowser-channel-name {
    color: #df6b26;
}

.kiwi-statebrowser-channel-label {
    color: #efefef;
    background: green;
}
.kiwi-statebrowser-channel-label--highlight {
    background: #d62323;
}

.kiwi-statebrowser-channel-label-transition-enter-active, .kiwi-statebrowser-channel-label-transition-leave-active {
    transition: opacity 0.1s;
}
.kiwi-statebrowser-channel-label-transition-enter, .kiwi-statebrowser-channel-label-transition-leave-active {
    opacity: 0;
}

.kiwi-statebrowser-channel-popup {
    background: #383838;
    border: 3px solid #6b6b6b;
    border-left: none;
}

.kiwi-statebrowser-newchannel-inputwrap {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.kiwi-statebrowser-newchannel-inputwrap--focus {
    opacity: 1;
}
.kiwi-statebrowser-newchannel-inputwrap > input {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(224, 224, 224)
}

.kiwi-statebrowser-options {
    background: #383838;
}




/**
 * Container (Nicklist / header / control input wrapper)
 */

.kiwi-container {
    border-bottom: 1px solid #484747;
}

.kiwi-container-toggledraw-statebrowser,
.kiwi-container-toggledraw-sidebar {
    border-bottom: 1px solid #484747;
}
.kiwi-container-toggledraw-statebrowser {
    border-right: 1px solid #484747;
}
.kiwi-container-toggledraw-sidebar {
    border-left: 1px solid #484747;
}
.kiwi-container-toggledraw-sidebar--disabled {
    color: #b8babd;
}



/**
 * Sidebar
 */

.kiwi-sidebar {
    background-color: #201F1F;
    border-left: 1px solid #484747;
}


/**
 * Nicklist
 */

.kiwi-nicklist-info {
    border: 1px solid #484747;
    border-width: 1px 0;
}



/**
 * Buffer header (channel name + topic)
 */

.kiwi-header {
    border-bottom: 1px solid #484747;
}
.kiwi-header-topic {
    color: #ccc;
}

.kiwi-header-buffersettings {
    border-top: 1px solid #484747;
}




/**
 * Control input
 */

.kiwi-controlinput {
}
.kiwi-controlinput-inner {
}
.kiwi-controlinput-user {
    border-right: 1px solid 484747;
}
.kiwi-controlinput-input-wrap {
}
.kiwi-controlinput-input {
    color: #ccc;
}



/**
 * Control input (the bottom bar)
 */

.kiwi-autocomplete {
    border: 1px solid #484747;
    background: #353535;
}
.kiwi-autocomplete-item {
    border-bottom: 1px solid #484747;
}
.kiwi-autocomplete-item--selected {
    background: #000;
}



/**
 * Message list
 */

.kiwi-messagelist-message {
    border-top: 1px solid #383838;
    /* some message highlights add a left border so add a default invisble one to keep them inline */
    border-left: 3px solid transparent;
}
.kiwi-messagelist-message--modern {
    border-left: 7px solid transparent;
}
.kiwi-messagelist-message--modern.kiwi-messagelist-message-topic {
    margin: 18px;
}
.kiwi-messagelist-message-whois {
    border-left-color: #939393;
}
.kiwi-messagelist-message--highlight {
    background: #354028;
    border-left-color: #658841;
}
.kiwi-messagelist-message--hover {
    background: #354028;
    border-left-color: #658841;
}
.kiwi-messagelist-message--info-open {
    background: #484747;
}
.kiwi-messagelist-message a {
    color: #5379b7;
}

.kiwi-messagelist-time {
    color: #c1c1c1;
}


.kiwi-messagelist-message-repeat {
    border-top: none;
}
.kiwi-messagelist-message-repeat .kiwi-messagelist-nick,
.kiwi-messagelist-message-repeat .kiwi-messagelist-time {
    /* Set the opacity instead of making it invisible so that it's still selectable when copying text */
    opacity: 0;
    cursor: default;
}

.kiwi-messagelist-seperator:after {
    border-color: #383838;
}
.kiwi-messagelist-seperator > span {
    background: #201f1f;
}
.kiwi-messagelist-seperator + .kiwi-messagelist-message {
    border-top: none;
}

.kiwi-messagelist-body .kiwi-nick {
}

/* Topic changes */
.kiwi-messagelist-message-topic {
    background: #000;
    border-bottom: 3px solid #505050;
    border-width: 0 0 3px 0;
}

.kiwi-messagelist-message-traffic-join {
    color: #009900;
}
.kiwi-messagelist-message-traffic-quit,
.kiwi-messagelist-message-traffic-part,
.kiwi-messagelist-message-traffic-kick {
    color: #bd4d4d;
}
.kiwi-messagelist-message-action .kiwi-messagelist-body {
    color: #009900;
}

/* MOTD */
.kiwi-messagelist-message-motd {
    color: #666;
}

/* Errors */
.kiwi-messagelist-message-error {
    background: #613c3c;
    border-left-color: #650505;
}


/**
 * Message list
 */

.kiwi-messageinfo {
    background: #484747;
    border-bottom: 3px #383737 solid;
    border-top: 1px #383737 dashed;
}
.kiwi-messageinfo-urls {
    border-top: 1px solid #dddddd;
}


/**
 * Network settings
 */

.kiwi-networksettings-danger h3 {
    background: #793434;
}



/**
 * Alias settings
 */
.kiwi-settings-aliases-input {
    border-color: #cccccc;
}
.kiwi-settings-aliases-help {
    background: #f3f2f2;
    border: 1px dashed gray;
}
.kiwi-settings-aliases-help em {
    color: #ab1010;
    background: #fff6a5;
}



/**
 * User box
 */

.kiwi-userbox {
    border: 1px solid #222;
    background: #353535;
    transition: 0.2s top;
}
@media screen and (max-width: 500px) {
    .kiwi-userbox {
    }
}
.kiwi-userbox-usermask {
    color: #9e9e9e;
}
.kiwi-userbox-whois {
    background: #ffffff;
    color: #2c3e50;
    border: 1px dashed #9e9e9e;
}
.kiwi-userbox-whois-line {
}
.kiwi-userbox-actions-op {
    border-top: 1px solid #9e9e9e;
}



/**
 * Self user box
 */
.kiwi-selfuser-actions {
    border-top: 1px solid #484747;
}
.kiwi-controlinput-selfuser {
    /* background: #f6f6f6;*/ 
    border: 1px solid #484747;
}



/**
 * Channel list
 */
.kiwi-channellist table tbody tr:nth-child(even) {
    background-color: #333333;
}
.kiwi-channellist table tbody tr {
    border-top: 1px solid #464646;
}
.kiwi-channellist-users {
    width: 80px;
    background: #7dbd67;
    padding: 2px 0;
    border-radius: 3px;
    text-align: center;
    color: #333333;
}



/**
 * Welcome startup screen
 */

.kiwi-welcome-simple-start[disabled] {
    opacity: 0.65;
}
.kiwi-welcome-simple-error {
    border: 1px dashed #d86f6f;
}



