@import '../common/base.css';

.kiwi-wrap {
    --kiwi-nick-brightness: 50;
}

:root {
    --k-primary1: #42b992;
    --k-primary2: #42b992;
    --k-primary3: #42b992;
    --k-primary4: #42b992;
    --k-primary5: #42b992;
    --k-primary6: #42b992;
    --k-primary7: #42b992;

    --k-neutral1: #c5c5c5;
    --k-neutral2: #c1c1c1;
    --k-neutral3: #bbbbbb;
    --k-neutral4: #969696;
    --k-neutral5: #555857;
    --k-neutral6: #343c38;
    --k-neutral7: #262b29;

    --k-accent1: #ACE4FB;
    --k-accent2: #83d8fb;
    --k-accent3: #45C8FE;
    --k-accent4: #00B3FC;
    --k-accent5: #008BC3;
    --k-accent6: #026790;
    --k-accent7: #005375;

    --k-accentstrong1: #F5D494;
    --k-accentstrong2: #e8c279;
    --k-accentstrong3: #E8B44E;
    --k-accentstrong4: #E09F20;
    --k-accentstrong5: #BC8721;
    --k-accentstrong6: #9e7627;
    --k-accentstrong7: #8D6821;

    --k-success1: #b3f1e0;
    --k-success2: #7ddcc3;
    --k-success3: #60bd9b;
    --k-success4: #299c7d;
    --k-success5: #188669;
    --k-success6: #188063;
    --k-success7: #16755B;

    --k-info1: #f7efcc;
    --k-info2: #eadfa9;
    --k-info3: #dccc83;
    --k-info4: #c3ad4a;
    --k-info5: #998633;
    --k-info6: #86762e;
    --k-info7: #7e6f2a;

    --k-warning1: #FFFDF3;
    --k-warning2: #f9f4d4;
    --k-warning3: #fbe591;
    --k-warning4: #F3D460;
    --k-warning5: #C9AE37;
    --k-warning6: #8c7926;
    --k-warning7: #5C4C0F;

    --k-error1: #e8c2c4;
    --k-error2: #de9194;
    --k-error3: #d26b6f;
    --k-error4: #bf5155;
    --k-error5: #9c4245;
    --k-error6: #793437;
    --k-error7: #582426;

    --k-actiondanger1: #e8c2c4;
    --k-actiondanger2: #de9194;
    --k-actiondanger3: #d26b6f;
    --k-actiondanger4: #bf5155;
    --k-actiondanger5: #9c4245;
    --k-actiondanger6: #793437;
    --k-actiondanger7: #582426;

    --k-actiongo1: #A8DCCE;
    --k-actiongo2: #A8DCCE;
    --k-actiongo3: #65d6ad;
    --k-actiongo4: #199473;
    --k-actiongo5: #188669;
    --k-actiongo6: #16755B;
    --k-actiongo7: #16755B;
}

/**
 * For a dark theme the statebrowser needs to also be dark. By default the statebrowser and the
 * rest of the app are dark light respectively, so we reverse the pallete for the statebrowser.
 */
.kiwi-statebrowser {
    --k-primary1: #42b992;
    --k-primary2: #42b992;
    --k-primary3: #42b992;
    --k-primary4: #42b992;
    --k-primary5: #42b992;
    --k-primary6: #42b992;
    --k-primary7: #42b992;

    --k-neutral1: #262b29;
    --k-neutral2: #343c38;
    --k-neutral3: #555857;
    --k-neutral4: #969696;
    --k-neutral5: #bbbbbb;
    --k-neutral6: #c1c1c1;
    --k-neutral7: #c5c5c5;

    --k-accent1: #005375;
    --k-accent2: #026790;
    --k-accent3: #008BC3;
    --k-accent4: #00B3FC;
    --k-accent5: #45C8FE;
    --k-accent6: #83d8fb;
    --k-accent7: #ACE4FB;

    --k-accentstrong1: #8D6821;
    --k-accentstrong2: #9e7627;
    --k-accentstrong3: #BC8721;
    --k-accentstrong4: #E09F20;
    --k-accentstrong5: #E8B44E;
    --k-accentstrong6: #e8c279;
    --k-accentstrong7: #F5D494;

    --k-success1: #16755B;
    --k-success2: #188063;
    --k-success3: #188669;
    --k-success4: #299c7d;
    --k-success5: #60bd9b;
    --k-success6: #7ddcc3;
    --k-success7: #b3f1e0;

    --k-info1: #7e6f2a;
    --k-info2: #86762e;
    --k-info3: #998633;
    --k-info4: #c3ad4a;
    --k-info5: #dccc83;
    --k-info6: #eadfa9;
    --k-info7: #f7efcc;

    --k-warning1: #5C4C0F;
    --k-warning2: #8c7926;
    --k-warning3: #C9AE37;
    --k-warning4: #F3D460;
    --k-warning5: #fbe591;
    --k-warning6: #f9f4d4;
    --k-warning7: #FFFDF3;

    --k-error1: #582426;
    --k-error2: #793437;
    --k-error3: #9c4245;
    --k-error4: #bf5155;
    --k-error5: #d26b6f;
    --k-error6: #de9194;
    --k-error7: #e8c2c4;

    --k-actiondanger1: #582426;
    --k-actiondanger2: #793437;
    --k-actiondanger3: #9c4245;
    --k-actiondanger4: #bf5155;
    --k-actiondanger5: #d26b6f;
    --k-actiondanger6: #de9194;
    --k-actiondanger7: #e8c2c4;

    --k-actiongo1: #16755B;
    --k-actiongo2: #16755B;
    --k-actiongo3: #188669;
    --k-actiongo4: #199473;
    --k-actiongo5: #65d6ad;
    --k-actiongo6: #A8DCCE;
    --k-actiongo7: #A8DCCE;
}

/* IRC Text Colours */
.irc-fg-colour-white { color: #fff; }
.irc-fg-colour-black { color: #000; }
.irc-fg-colour-blue { color: #00f; }
.irc-fg-colour-green { color: #0f0; }
.irc-fg-colour-light-red { color: #ff5959; }
.irc-fg-colour-brown { color: #743a00; }
.irc-fg-colour-purple { color: #a500ff; }
.irc-fg-colour-orange { color: #ff8c00; }
.irc-fg-colour-yellow { color: #d6d63d; }
.irc-fg-colour-light-green { color: #6fff6f; }
.irc-fg-colour-cyan { color: #0cc; }
.irc-fg-colour-light-cyan { color: #6dffff; }
.irc-fg-colour-light-blue { color: #59b4ff; }
.irc-fg-colour-pink { color: #f0f; }
.irc-fg-colour-grey { color: #a6a6a6; }
.irc-fg-colour-light-grey { color: #e2e2e2; }

.irc-bg-colour-white { background-color: #fff; }
.irc-bg-colour-black { background-color: #000; }
.irc-bg-colour-blue { background-color: #00f; }
.irc-bg-colour-green { background-color: #0f0; }
.irc-bg-colour-light-red { background-color: #ff5959; }
.irc-bg-colour-brown { background-color: #743a00; }
.irc-bg-colour-purple { background-color: #a500ff; }
.irc-bg-colour-orange { background-color: #ff8c00; }
.irc-bg-colour-yellow { background-color: #d6d63d; }
.irc-bg-colour-light-green { background-color: #6fff6f; }
.irc-bg-colour-cyan { background-color: #0cc; }
.irc-bg-colour-light-cyan { background-color: #6dffff; }
.irc-bg-colour-light-blue { background-color: #59b4ff; }
.irc-bg-colour-pink { background-color: #f0f; }
.irc-bg-colour-grey { background-color: #a6a6a6; }
.irc-bg-colour-light-grey { background-color: #e2e2e2; }

.kiwi-statebrowser {
    box-shadow: 0px 0 2px #101010;
}
