/* The Streamchat theme puts a focus on a stripped down messagelist component */

/* Makes the chat window opaque */
body {
    background-color: rgba(0, 0, 0, 0.6);
}

.kiwi-statebrowser,
.kiwi-header,
.kiwi-controlinput,
.kiwi-messagelist-seperator,
.kiwi-messagelist-time,
.kiwi-startup-common-section-info,
.kiwi-awaystatusindicator,
.kiwi-messagelist-message-traffic,
.kiwi-container-toggledraw-statebrowser-messagecount {
    display: none!important;
}

.kiwi-messagelist-message--compact.kiwi-messagelist-message--authorrepeat .kiwi-messagelist-nick,
.kiwi-messagelist-message--compact .kiwi-messagelist-nick {
    display: inline-block;
    opacity: 1!important;
    color: #fff;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    position: relative;
    min-width: 110px!important;
}

.kiwi-container {
    bottom: 0;
}

.kiwi-workspace::before {
    height: 0;
}

.kiwi-workspace {
    margin: 0;
}

.kiwi-messagelist-body {
    color:#fff;
    float: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 5px;
    display: flex;
    margin-left: 5px!important;
}

.kiwi-messagelist-message--compact {
    padding: 0;
}

.kiwi-messagelist {
    overflow: hidden;
}

.kiwi-messagelist-message {
    display: flex;
}

.kiwi-messagelist-emoji {
    width: 0.8em!important;
}
