/* ---- Welcome Screens ----- */
.kiwi-customserver-form {
    background-color: var(--k-neutral7);
    border: 1px solid var(--k-neutral5);
}

.kiwi-welcome-simple-error {
    border: 1px dashed var(--k-error4);
}

.kiwi-welcome-simple-form .u-submit {
    background-color: var(--k-primary6);
    color: var(--k-neutral7);
}

.kiwi-welcome-simple .help,
.kiwi-welcome-simple .help a {
    color: var(--k-neutral1);
}

.kiwi-welcome-simple .help a:hover {
    color: var(--k-primary5);
}

/* ---- Gloabl Styling ---- */
.kiwi-theme-bg {
    background-color: var(--k-neutral7);
}

.u-tabbed-content {
    background-color: var(--k-neutral7);
}

.u-tabbed-view-tabs {
    background: var(--k-neutral6);
    border-bottom: 3px solid var(--k-neutral6);
}

.u-tabbed-view-tabs .u-tabbed-view-tab {
    border-bottom-color: var(--k-neutral6);
    background: var(--k-neutral7);
}

.u-tabbed-view-tabs .u-tabbed-view-tab:hover,
.u-tabbed-view-tabs .u-tabbed-view-tab.u-tabbed-view-tab--active {
    border-bottom-color: var(--k-primary4);
}

/* ---- Global : User inputs ---- */
.u-input-text {
    background: var(--k-neutral7);
}

.u-form label {
    color: var(--k-neutral1);
}

.u-input-text input:focus {
    border-color: var(--k-primary4);
}

.u-form .u-input,
.u-form textarea {
    outline: none;
    color: var(--k-neutral1);
    background: var(--k-neutral7);
    transition: border-color 0.1s;
}

.u-form .u-input,
.u-form label input[type='text'],
.u-form label input[type='password'],
.u-form label input[type='email'],
.u-form label input[type='checkbox'],
.u-form label input[type='radio'],
.u-form textarea {
    border-color: var(--k-neutral5);
}

.u-form .u-input:focus,
.u-form label input[type='text']:focus,
.u-form label input[type='password']:focus,
.u-form label input[type='email']:focus,
.u-form label input[type='checkbox']:focus,
.u-form label input[type='radio']:focus,
.u-form textarea:focus {
    border-color: var(--k-primary4);
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-placeholder,
::placeholder {
    color: black;
}

/* ---- Global : Checkbox input ---- */
.u-form input[type='checkbox'],
.u-form input[type='radio'] {
    border-color: var(--k-neutral3);
    background-color: var(--k-neutral7);
}

.u-form input[type='checkbox']:checked,
.u-form input[type='radio']:checked {
    background: var(--k-primary4);
}

/* ---- Global : Buttons ---- */
.u-button-primary {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
    border-bottom: 1px solid var(--k-neutral1);
}

.u-button-primary:hover {
    background-color: var(--k-primary5);
}

.u-button-secondary {
    background: rgba(117, 117, 117, 0.07);
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

.u-button-warning {
    background-color: var(--k-actiondanger4);
    border-bottom: 1px solid var(--k-neutral1);
    color: var(--k-neutral7);
}

/* ---- Global : Links / anchors etc ---- */
.u-link {
    color: var(--k-primary4);
}

/* ---- Container Header ( containerHeader ) ---- */
.kiwi-header {
    background: var(--k-neutral7);
    border-bottom-color: var(--k-neutral5);
}

.kiwi-header-name-container {
    color: var(--k-neutral1);
}

.kiwi-header-name {
    background-color: var(--k-neutral7);
}

.kiwi-header-option a:hover,
.kiwi-header-option--active,
.kiwi-header-option--active:hover a {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
    opacity: 1;
}

.kiwi-header-option--active,
.kiwi-header-option-active a {
    opacity: 1;
}

.kiwi-header-option-leave a:hover,
.kiwi-header-option-unpinsidebar a:hover {
    background-color: var(--k-error4);
    color: var(--k-neutral7);
}

.kiwi-header-join-channel-button {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-header .kiwi-header-notjoined .u-link {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-header .kiwi-header-notjoined .u-link:hover {
    background-color: var(--k-primary5);
}

.kiwi-header-server-connection .u-button {
    background: var(--k-primary4);
    color: var(--k-neutral7);
}

/* End of Container Header ( containerHeader ) */

/* ---- Control Input ( controlInput ) ---- */
.kiwi-controlinput {
    background: var(--k-neutral7);
    border-top-color: var(--k-neutral5);
}

.kiwi-controlinput .kiwi-controlinput-user,
.kiwi-controlinput-inner .kiwi-controlinput-user {
    border-right-color: var(--k-neutral5);
}

.kiwi-controlinput-send {
    background: #f1f1f1;
}

.kiwi-controlinput-active-tool {
    background: #f6f6f6;
}

/* ---- Self User ( SelfUser.vue ) ---- */
.kiwi-controlinput-selfuser {
    background: var(--k-neutral7);
    border-color: var(--k-neutral4);
}

.kiwi-controlinput-selfuser.kiwi-controlinput-selfuser--open {
    border: 1px solid var(--k-neutral5);
}

/* ---- Auto complete ( autoComplete ) ---- */
.kiwi-autocomplete {
    box-shadow: 0 1px 15px rgba(64, 54, 63, 0.25);
    border: 1px solid var(--k-neutral5);
    background: var(--k-neutral7);
}

.kiwi-autocomplete-item {
    border-bottom: 1px solid var(--k-neutral5);
}

.kiwi-autocomplete-item--selected {
    background: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-autocomplete-item--selected .u-link {
    color: var(--k-neutral7);
}

/* ---- Sidebar ( Sidebar ) ---- */
.kiwi-sidebar {
    background-color: var(--k-neutral7);
    color: var(--k-neutral1);
}

.kiwi-sidebar-options {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-sidebar-pin {
    border-right: 1px solid var(--k-neutral7);
    background: var(--k-primary4);
}

.kiwi-sidebar-pin:hover {
    background: #62d0ac;
}

.kiwi-sidebar-options .kiwi-sidebar-close:hover {
    background: var(--k-error4);
    color: var(--k-neutral7);
}

.kiwi-container--sidebar-open .kiwi-sidebar {
    border-color: var(--k-neutral5);
}

.kiwi-aboutbuffer {
    background: rgba(0, 0, 0, 0.03);
}

.kiwi-aboutbuffer h3 {
    background: var(--k-neutral7);
}

.kiwi-aboutbuffer h4 {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

/* ---- Sidebar - Nicklist ---- */
.kiwi-nicklist-usercount {
    border-bottom-color: var(--k-neutral6);
}

.kiwi-nicklist-user {
    border-left-color: var(--k-neutral7);
}

.kiwi-nicklist-user:hover {
    border-left-color: var(--k-primary4);
    cursor: pointer;
}

.kiwi-nicklist-user:hover .kiwi-nicklist-messageuser {
    color: var(--k-neutral1);
}

.kiwi-nicklist-user::after {
    color: var(--k-neutral5);
}

.kiwi-nicklist-messageuser {
    color: var(--k-neutral7);
}

.kiwi-nicklist-info i.fa-search {
    color: var(--k-neutral5);
}

/* ---- Sidebar - userbox ---- */
.kiwi-userbox .main-title {
    border-bottom: 1px solid var(--k-neutral5);
}

.kiwi-userbox .kiwi-userbox-basicinfo {
    border-bottom: 1px solid var(--k-neutral5);
}

.kiwi-userbox .kiwi-userbox-actions .kiwi-userbox-action {
    border: 1px solid var(--k-neutral1);
    color: var(--k-neutral1);
}

.kiwi-userbox .kiwi-userbox-actions .kiwi-userbox-action:hover {
    background-color: var(--k-neutral1);
    color: var(--k-neutral7);
}

.kiwi-userbox-opactions {
    border-top: 1px solid var(--k-neutral5);
}

.kiwi-userbox-opactions label select {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.kiwi-userbox-opaction-kick,
.kiwi-userbox-opaction-ban,
.kiwi-userbox-opaction-kickban {
    color: var(--k-neutral7);
}

.kiwi-userbox-opaction-kick,
.kiwi-userbox-opaction-kick:hover {
    background-color: var(--k-info4);
}

.kiwi-userbox-opaction-ban,
.kiwi-userbox-opaction-ban:hover {
    background-color: var(--k-info4);
}

.kiwi-userbox-opaction-kickban,
.kiwi-userbox-opaction-kickban:hover {
    background-color: var(--k-error4);
}

.kiwi-userbox-whois {
    border: 1px solid var(--k-neutral5);
}

/* ---- State browser ( statebrowser) ---- */

/* Statebrowser - Left sidebar ( StateBrowser.vue ) */
.kiwi-statebrowser {
    background: var(--k-neutral1);
    color: var(--k-neutral7);
}

.kiwi-statebrowser-usermenu--open {
    background-color: var(--k-neutral1);
}

.kiwi-statebrowser-usermenu-body .u-link {
    color: var(--k-error4);
}

.kiwi-statebrowser-divider {
    background: rgba(255, 255, 255, 0.3);
}

/* Add channel input */
.kiwi-statebrowser-newchannel-inputwrap {
    color: var(--k-neutral7);
}

.kiwi-statebrowser-newchannel-inputwrap input[type='text'] {
    color: var(--k-neutral1);
    background: var(--k-neutral7);
}

.kiwi-statebrowser-newchannel-inputwrap--focus {
    opacity: 1;
    background-color: var(--k-neutral7);
}

/* Channel search input */
.kiwi-statebrowser-channelfilter {
    transition: all 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: var(--k-neutral7);
}

.kiwi-statebrowser-channelfilter::after {
    color: var(--k-neutral7);
}

.kiwi-statebrowser-channelfilter input {
    background-color: var(--k-neutral7);
    color: var(--k-neutral1);
    outline: none;
}

.kiwi-statebrowser-channelfilter p {
    color: var(--k-primary4);
    font-size: 0.9em;
    margin: 10px 0 10px 0;
    cursor: pointer;
    transition: all 0.3s;
}

.kiwi-statebrowser-channelfilter p:hover {
    color: var(--k-primary5);
}

.kiwi-statebrowser-newnetwork {
    border-top-color: var(--k-neutral3);
}

.kiwi-statebrowser-newnetwork a {
    color: var(--k-neutral7);
}

.kiwi-statebrowser-newnetwork a:hover {
    background: var(--k-primary4);
    opacity: 1;
    color: var(--k-neutral7);
}

.kiwi-statebrowser-network .kiwi-statebrowser-network-header {
    background-color: var(--k-neutral3);
}

.kiwi-statebrowser-network .kiwi-statebrowser-network-header a {
    color: var(--k-neutral7);
}

/* Active Network Styling */
.kiwi-statebrowser-network.kiwi-statebrowser-network--active .kiwi-statebrowser-network-header {
    border-left: 3px solid var(--k-primary4);
}

/* Channel Styling */
.kiwi-statebrowser-channels .kiwi-statebrowser-channel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--k-neutral7);
}

.kiwi-statebrowser-channel .kiwi-statebrowser-channel-name {
    color: var(--k-neutral7);
}

.kiwi-statebrowser-channel-active {
    border-left-color: var(--k-primary4);
    background: var(--k-neutral2);
}

.kiwi-statebrowser-channel-active .kiwi-statebrowser-channel-name {
    color: var(--k-neutral7);
}

.kiwi-network-name-option-chanfilter.active {
    background: var(--k-primary4);
}

/* When hovering over a channel, these options are displayed and coloured upon hover */
.kiwi-statebrowser-channel-settings:hover {
    background-color: var(--k-primary4);
}

.kiwi-statebrowser-channel-leave:hover {
    background: var(--k-error4);
}

.kiwi-statebrowser-newchannel a {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.kiwi-statebrowser-newchannel a:hover {
    background: var(--k-primary4);
    opacity: 1;
    color: var(--k-neutral7);
}

.kiwi-statebrowser-switcher a:first-of-type {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-switcher a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.kiwi-statebrowser-options {
    background: var(--k-neutral5);
}

.kiwi-statebrowser-availablenetworks-link {
    border-right: 15px solid var(--k-error4);
}

.kiwi-statebrowser-availablenetworks-link--connected {
    border-color: var(--k-primary4);
}

.kiwi-statebrowser-channel-notjoined .kiwi-statebrowser-channel-name {
    color: var(--k-error4);
}

.kiwi-statebrowser-channel-popup {
    background: #383838;
    border: 3px solid var(--k-neutral5);
    border-left: none;
}

.kiwi-statebrowser-nonetworks {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-availablenetworks {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.kiwi-statebrowser-availablenetworks-toggle {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-network-header {
    background: rgba(255, 255, 255, 0.15);
}

.kiwi-statebrowser-network-status {
    background: rgba(255, 255, 255, 0.1);
}

/* Icon before the network in network list */
.kiwi-statebrowser-network-name::before {
    content: '\f233';
    font-family: fontAwesome, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    margin-right: 2px;
    font-weight: 100;
    text-decoration: none;
}

/* Icons in the Channel List */
.kiwi-statebrowser-channel[data-name^="*"]::before {
    content: '\f006';
}

.kiwi-statebrowser-channel[data-name="#help"]::before {
    content: '\f059';
}

.kiwi-statebrowser-channel::before {
    font-family: fontAwesome, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    margin-right: 8px;
    font-weight: 100;
}

.kiwi-statebrowser-channel-label {
    background: var(--k-neutral3);
    color: var(--k-neutral7);
}
.kiwi-statebrowser-channel-label--highlight {
    background: var(--k-error4);
}

.kiwi-statebrowser-usermenu-avatar {
    border-color: var(--k-success4);
    background-color: var(--k-neutral1);
    color: var(--k-neutral7);
}

.kiwi-statebrowser-usermenu-avatar:hover {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-statebrowser-usermenu-avatar--disconnected {
    border-color: var(--k-error4);
}

.kiwi-statebrowser-usermenu--open .kiwi-statebrowser-usermenu-avatar {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-statebrowser-usermenu .kiwi-awaystatusindicator {
    border-color: var(--k-neutral1);
}

.kiwi-statebrowser-network .kiwi-statebrowser-network-header a.kiwi-statebrowser-network-toggle:hover {
    background-color: var(--k-error4);
    border-top-color: var(--k-error4);
}

.kiwi-statebrowser-appsettings:hover {
    opacity: 1;
}

.kiwi-statebrowser-scrollarea h4 {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* ---- End of statebrowser ---- */

/*  ---- Custom server layout ---- */
.kiwi-customserver {
    background-color: var(--k-neutral1);
}

/* ---- App ---- */
.kiwi-wrap {
    color: var(--k-neutral1);
    --kiwi-nick-brightness: 40;
    --kiwi-supports-monospace: 1;
}

.kiwi-workspace {
    background: var(--k-neutral7);
}

.kiwi-workspace::before {
    background: var(--k-primary4);
}

.kiwi-workspace::after {
    background: var(--k-error4);
}

/* ---- Container ( Container.vue )  ---- */
.kiwi-container-toggledraw-statebrowser,
.kiwi-container-toggledraw-sidebar {
    background: var(--k-neutral7);
}

.kiwi-container-toggledraw-statebrowser {
    border-right: 1px solid var(--k-neutral5);
}

.kiwi-container-toggledraw-sidebar {
    border-left: 1px solid var(--k-neutral5);
}

.kiwi-container-toggledraw-sidebar--disabled {
    color: #b8babd;
}

.kiwi-container-toggledraw-statebrowser-messagecount {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-container-toggledraw-statebrowser-messagecount::after {
    border: 0.6em solid transparent;
    border-right-color: var(--k-primary4);
}

.kiwi-container-toggledraw-statebrowser-messagecount--highlight {
    background-color: var(--k-error4);
    color: var(--k-neutral7);
}

.kiwi-container-toggledraw-statebrowser-messagecount--highlight::after {
    border-right-color: var(--k-error4);
}

.kiwi-wrap--statebrowser-drawopen .kiwi-container-toggledraw-statebrowser-messagecount {
    background-color: var(--k-primary4);
}

.kiwi-wrap--statebrowser-drawopen .kiwi-container-toggledraw-statebrowser-messagecount::after {
    border: 0.6em solid transparent;
    border-left-color: var(--k-primary4);
}

.kiwi-container-empty .u-button {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

/* ---- Application settings ( AppSettings ) ---- */
.kiwi-appsettings {
    background: var(--k-neutral7);
}

.kiwi-appsettings-block {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.kiwi-appsettings-block h3 {
    background: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-appsettings-title {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-appsettings-title:hover {
    background: var(--k-error4);
}

/* ---- Network Settings ( NetworkSettings ) ---- */
.kiwi-networksettings .kiwi-title {
    background: var(--k-primary4);
    color: var(--k-neutral7);
    border-top: 1px solid var(--k-primary4);
}

.kiwi-network-nicknamelabel {
    color: rgb(128, 128, 128);
}

.kiwi-networksettings .u-form {
    border-color: var(--k-neutral5);
    background: var(--k-neutral7);
}

.kiwi-networksettings .kiwi-title span {
    color: var(--k-primary4);
    background: var(--k-neutral7);
}

.kiwi-networksettings-advanced h3:hover {
    color: var(--k-primary4);
}

.kiwi-networksettings .kiwi-customserver-tls {
    color: var(--k-neutral5);
}

.kiwi-networksettings .kiwi-customserver-tls--enabled {
    color: var(--k-primary4);
}

.kiwi-networksettings .kiwi-customserver-tls--enabled .kiwi-customserver-tls-lock {
    color: var(--k-primary4);
}

.kiwi-networksettings .kiwi-customserver-tls-minus {
    color: var(--k-error4);
}

.kiwi-networksettings-error {
    border-color: var(--k-error4);
}

.kiwi-networksettings .kiwi-connect-to-newnetwork {
    background: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-networksettings .kiwi-networksettings-server-types .kiwi-network-type-button {
    border-color: var(--k-primary4);
    color: var(--k-primary4);
}

.kiwi-networksettings .kiwi-networksettings-server-types .kiwi-network-type-button:hover,
.kiwi-networksettings .kiwi-networksettings-server-types .kiwi-network-type-button.kiwi-networksettings-server-type-active {
    background: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-networksettings .u-form span {
    color: var(--k-neutral1);
}

.u-button.kiwi-channellist-refresh.u-button-secondary {
    background: var(--k-primary4);
}

/* ---- Channel List ( ChannelList.vue ) ---- */
.kiwi-channellist table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.kiwi-channellist table tbody tr {
    border-top: 1px solid var(--k-neutral5);
}

/* ---- Message list - ( MessageList.vue ) ---- */
.kiwi-messagelist {
    scrollbar-color: #9e9e9e transparent;
}

.kiwi-messagelist::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
}

.kiwi-messagelist-seperator {
    color: var(--k-neutral4);
    background: var(--k-neutral7);
    font-size: 0.9em;
}

.kiwi-messagelist-seperator > span {
    background: var(--k-neutral7);
}

.kiwi-messagelist-message--info-open,
.kiwi-messagelist-message--authorrepeat.kiwi-messagelist-message--info-open {
    background: var(--k-neutral5);
}

.kiwi-messagelist-message-action .kiwi-messagelist-body {
    color: var(--k-primary4);
}

.kiwi-messagelist-message--highlight {
    background-color: var(--k-neutral6);
}

/* Notice Message styling */
.kiwi-messagelist-message-notice {
    background: var(--k-info5);
}

/* Standard username and usertime styling */
.kiwi-messagelist-nick {
    color: var(--k-neutral1);
}

/* Unread user messages */
.kiwi-messagelist-message.kiwi-messagelist-message--unread {
    border-left: 5px solid var(--k-primary4);
}

/* When hovering over a users messages */
.kiwi-messagelist-message--hover {
    border-left-color: var(--k-primary4);
}

/* Traditional message styling hover */
.kiwi-messagelist-message--compact .kiwi-messagelist-message-privmsg:hover,
.kiwi-messagelist-message--compact .kiwi-messagelist-message-action:hover,
.kiwi-messagelist-message--compact .kiwi-messagelist-message-notice:hover {
    background: var(--k-primary5);
}

/* The shadow over the main text area that displays when the sidebar is open */
.kiwi-container--sidebar-drawn .kiwi-messagelist::after {
    background-color: var(--k-neutral1);
}

/* Messagelayout inline */
.kiwi-messagelist-message--text .kiwi-messagelist-time {
    color: var(--k-neutral1);
}

/* ---- Traffic Messages ---- */
.kiwi-messagelist-message-traffic-join {
    color: var(--k-primary4);
}

.kiwi-messagelist-message-traffic-quit,
.kiwi-messagelist-message-traffic-part,
.kiwi-messagelist-message-traffic-kick {
    color: var(--k-error4);
}

.kiwi-messagelist-message-traffic-quit .kiwi-nick::before,
.kiwi-messagelist-message-traffic-part .kiwi-nick::before {
    color: var(--k-error4);
}

/* ---- Modern Layout Styling ---- */
.kiwi-avatar > span {
    background-color: var(--k-neutral1);
    color: var(--k-neutral7);
    border-color: var(--k-primary4);
}

.kiwi-messagelist .kiwi-messagelist-body a,
.kiwi-channellist-table-topic a,
.kiwi-aboutbuffer a {
    color: var(--k-primary4);
}

.kiwi-messagelist .kiwi-messagelist-body a:hover,
.kiwi-channellist-table-topic a:hover,
.kiwi-aboutbuffer a:hover {
    color: var(--k-primary5);
}

.kiwi-messagelist-message--modern {
    border-top-color: var(--k-neutral6);
}

/* Errors */
.kiwi-messagelist-message-error,
.kiwi-messagelist-message.kiwi-messagelist-message-error.kiwi-messagelist-message--highlight {
    background: var(--k-error4);
    color: var(--k-neutral7);
}

/* ---- Messagelist Topic Styling ---- */
.kiwi-messagelist-message.kiwi-messagelist-message-topic {
    border-top: 1px solid var(--k-primary4);
    border-bottom: 1px solid var(--k-primary4);
    color: var(--k-neutral1);
    background: var(--k-neutral7);
}

.kiwi-messagelist-message--modern.kiwi-messagelist-message--authorrepeat.kiwi-messagelist-message-topic {
    border-top: 2px solid var(--k-primary4);
}

.kiwi-messagelist-message--modern.kiwi-messagelist-message-topic,
.kiwi-messagelist-message--modern.kiwi-mesagelist-message-topic.kiwi-messagelist-message--highlight {
    border: 2px solid var(--k-primary4);
}

.kiwi-messagelist-message--modern.kiwi-messagelist-message-topic.kiwi-messagelist-message--unread {
    border-left: 2px solid var(--k-primary4);
}

.kiwi-header-buffersettings {
    border-top: 1px solid var(--k-neutral5);
}

.kiwi-header-topic > div {
    color: var(--k-neutral1);
}

.kiwi-messagelist-message-whois {
    background: var(--k-neutral5);
}

.kiwi-messagelist-message-motd {
    color: var(--k-neutral1);
}

/* ---- MessageInfo ---- */
.kiwi-messagelist-message--info-open {
    background-color: var(--k-neutral5);
}

.kiwi-messageinfo-urls {
    border-top-color: var(--k-neutral5);
    border-bottom-color: var(--k-neutral5);
}

.kiwi-messageinfo-actions .u-link {
    border-color: var(--k-neutral1);
    color: var(--k-neutral1);
}

.kiwi-messageinfo-actions .kiwi-messageinfo-reply {
    background: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-messageinfo-actions .kiwi-messageinfo-kick-user {
    background: var(--k-info4);
    color: var(--k-neutral7);
}

.kiwi-messageinfo-actions .kiwi-messageinfo-ban-user {
    background: var(--k-error4);
    color: var(--k-neutral7);
}

/* ---- Not connected message ( NotConnected ) ---- */
.kiwi-warning-block {
    color: var(--k-neutral7);
    background-color: var(--k-error4);
}

.kiwi-warning-block.connecting {
    background-color: var(--k-primary4);
}

.kiwi-notconnected-button {
    border-color: var(--k-neutral7);
    color: var(--k-neutral7);
}

.kiwi-notconnected-button:hover {
    background-color: var(--k-neutral7);
    color: var(--k-neutral1);
}

.kiwi-notconnected-button-settings:hover {
    background-color: transparent;
    color: var(--k-neutral7);
}

/* ---- Settings Aliases ( SettingsAliases ) ---- */
.kiwi-settings-aliases-input {
    border-color: var(--k-neutral5);
}

.kiwi-settings-aliases-help em {
    color: var(--k-primary4);
}

.kiwi-settings-advanced-notice {
    color: var(--k-neutral7);
    background: var(--k-error4);
}

/* ---- Channel Banlist ( Channelbanlist ) ---- */
.kiwi-channelbanlist-table tr {
    border-bottom-color: var(--k-neutral5);
}

.kiwi-channelbanlist-table-actions:hover {
    background-color: var(--k-error4);
}

.kiwi-channelbanlist-table-actions:hover i {
    color: var(--k-neutral7);
}

.kiwi-network-name-options {
    background-color: var(--k-neutral1);
}

.kiwi-network-name-option:hover,
.kiwi-network-name-option.active {
    background-color: var(--k-primary4);
    color: var(--k-neutral7);
}

.kiwi-network-name-option {
    color: var(--k-neutral7);
}

.kiwi-network-name-hover-icon {
    color: var(--k-neutral7);
}

/* Global Close Icon */
.kiwi-close-icon,
.kiwi-close-icon:hover {
    background: var(--k-error4);
}

/* Away Status Indicator */
.kiwi-awaystatusindicator {
    border-color: var(--k-neutral7);
    background-color: var(--k-success4);
}
.kiwi-awaystatusindicator--away {
    background-color: var(--k-error4);
}

/* Buffer Key */
.kiwi-bufferkey-button {
    border-color: var(--k-neutral7);
}

/* Selected text */
:root {
    --brand-selected: rgba(0, 0, 255, 0.3);
}
