<style>
    /* Custom theme changes can be added here */
</style>

<script>
kiwi.plugin('customise', function(kiwi, log) {
    // Add your customisations here
    // Some small examples can be found at https://github.com/kiwiirc/kiwiirc/wiki/Plugin-Examples
});
</script>
