.kiwi-wrap {
    color: #2c3e50;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    font-size: 14px;
}

.u-link {
    color: #42b983;
    text-decoration: none;
    cursor: pointer;
}
.u-button {
    display: inline-block;
    color: #ffffff;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: .5em 1em;
    border: none;
    font-size: 1em;
}
.u-button-primary {
    background-color: #0078e7;
}
.u-button-secondary {
    background-color: #42b8dd;
}
.u-button-warning {
    background-color: #ca3c3c;
}

.u-form {
    text-align: left;
}
.u-form label {
    margin-bottom: 5px;
    display: inline-block;
}
.u-form label span {
    display: inline-block;
    width: 100px;
    margin-right: 1em;
    text-align: right;
}
.u-form label input {
    font-size: 0.9em;
    padding: 3px 5px;
}
.u-form .u-submit {
    margin: 2em auto;
    display: block;
}


.irc-fg-colour-white { color: #FFFFFF; }
.irc-fg-colour-black { color: #000000; }
.irc-fg-colour-blue { color: #000080; }
.irc-fg-colour-green { color: #008000; }
.irc-fg-colour-light-red { color: #FF0000; }
.irc-fg-colour-brown { color: #800040; }
.irc-fg-colour-purple { color: #800080; }
.irc-fg-colour-orange { color: #FF8040; }
.irc-fg-colour-yellow { color: #FFFF00; }
.irc-fg-colour-light-green { color: #80FF00; }
.irc-fg-colour-cyan { color: #008080; }
.irc-fg-colour-light-cyan { color: #00FFFF; }
.irc-fg-colour-light-blue { color: #0000FF; }
.irc-fg-colour-pink { color: #FF55FF; }
.irc-fg-colour-grey { color: #808080; }
.irc-fg-colour-light-grey { color: #C0C0C0; }

.irc-bg-colour-white { color: #FFFFFF; }
.irc-bg-colour-black { color: #000000; }
.irc-bg-colour-blue { color: #000080; }
.irc-bg-colour-green { color: #008000; }
.irc-bg-colour-light-red { color: #FF0000; }
.irc-bg-colour-brown { color: #800040; }
.irc-bg-colour-purple { color: #800080; }
.irc-bg-colour-orange { color: #FF8040; }
.irc-bg-colour-yellow { color: #FFFF00; }
.irc-bg-colour-light-green { color: #80FF00; }
.irc-bg-colour-cyan { color: #008080; }
.irc-bg-colour-light-cyan { color: #00FFFF; }
.irc-bg-colour-light-blue { color: #0000FF; }
.irc-bg-colour-pink { color: #FF55FF; }
.irc-bg-colour-grey { color: #808080; }
.irc-bg-colour-light-grey { color: #C0C0C0; }




/**
 * State browser
 */

.kiwi-statebrowser {
    border-right: 5px solid #6b6b6b;
    background: #383838;
    color: rgb(137, 155, 166);
}

.kiwi-statebrowser-network {
    padding: 10px;
}

.kiwi-statebrowser-network-name {
    /*font-weight: bold;*/
    font-size: 1.1em;
    text-align: center;
    display: block;
    background: #525252;
    padding: 4px 0;
}
.kiwi-statebrowser-network-status {
    background: #4a4a4a;
    text-align: center;
    padding: 4px;
    overflow: hidden;
    position: relative;
    height: 1.3em;
    font-size: 0.9em;
}
/* During DOM entering and leaving */
.kiwi-statebrowser-network-status-transition-enter-active,
.kiwi-statebrowser-network-status-transition-leave-active {
    transition: height .7s, padding .7s;
}
/*  */
.kiwi-statebrowser-network-status-transition-enter,
.kiwi-statebrowser-network-status-transition-leave-active {
    height: 0;
    padding: 0;
}

.kiwi-statebrowser-channel {
    margin-top: 5px;
}

.kiwi-statebrowser-channel-name {
    color: #a7a7a7;
    flex: 1;
    transition: padding 0.1s, border 0.1s;
}

.kiwi-statebrowser-channel-notjoined .kiwi-statebrowser-channel-name {
    color: #d03232;
}
.kiwi-statebrowser-channel-active .kiwi-statebrowser-channel-name {
    color: #e0e0e0;
    border-left: 3px solid #df6b26;
    padding-left: 5px;
}

.kiwi-statebrowser-channel-label {
    padding: 3px 5px;
    font-size: 0.7em;
    border-radius: 5px;
    background: green;
}

.kiwi-statebrowser-channel-label-transition-enter-active, .kiwi-statebrowser-channel-label-transition-leave-active {
    transition: opacity 0.1s;
}
.kiwi-statebrowser-channel-label-transition-enter, .kiwi-statebrowser-channel-label-transition-leave-active {
    opacity: 0;
}

.kiwi-statebrowser-channel-settings {
    height: 100%;
    width: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.kiwi-statebrowser-channel-popup {
    background: #383838;
    border: 3px solid #6b6b6b;
    border-left: none;
}

.kiwi-statebrowser-options {
    background: #383838;
    /* some space on the right so it doesnt overlap the parent elements scrollbar */
    margin-right: 15px;
}




/**
 * Container (Nicklist / header / control input wrapper)
 */

.kiwi-container {
    border-bottom: 1px solid #dddddd;
}





/**
 * Nicklist
 */

.kiwi-nicklist {
    background-color: #f6f6f6;
    border-left: 1px solid #dddddd;
    transition: right 0.5s;
}
.kiwi-nicklist-info {
    border: 1px solid #ddd;
    font-size: 0.9em;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    border-width: 1px 0;
}
.kiwi-nicklist-users {
    padding: 0 20px;
}
.kiwi-nicklist-user {
    padding: 3px 0;
}
.kiwi-nicklist-user-nick {
    font-weight: bold;
    cursor: pointer;
}



/**
 * Buffer header (channel name + topic)
 */

.kiwi-header {
    padding: 5px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
}
.kiwi-header:hover {
    height: auto;
}
.kiwi-header-name {
    font-weight: bold;
}
.kiwi-header-topic {
    font-size: 0.9em;
    color: #5f5f5f;
    text-overflow: ellipsis;
}




/**
 * Control input
 */

.kiwi-controlinput {
    background: #eeeeee;
    padding: 4px;
}
.kiwi-controlinput-inner {
    border: 1px solid #cccccc;
    background: #ffffff;
    padding: 3px;
}
.kiwi-controlinput-user {
    padding: 0 5px;
    margin-right: 5px;
    font-weight: bold;
    text-align: center;
    background: #f6f6f6;
}
.kiwi-controlinput-input-wrap {
    padding: 3px;
    background: #fff;
}
.kiwi-controlinput-input {
    border: none;
    outline: none;
}



/**
 * Message list
 */

.kiwi-messagelist-message {
    border-bottom: 1px solid #f7f5f5;
    /*padding: 4px;*/
}

.kiwi-messagelist-message > div {
    padding: 4px;
}

.kiwi-messagelist-time {
    font-size: 0.8em;
    color: #c1c1c1;
    float: right;
}

.kiwi-messagelist-nick {
    width: 120px;
    text-align: right;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
    float: left;
    cursor: pointer;
}
.kiwi-messagelist-nick:hover {
    overflow: visible;
}

.kiwi-messagelist-nick:before:not(:empty) {
    content: "<";
}
.kiwi-messagelist-nick:after:not(:empty) {
    content: ">";
}
.kiwi-messagelist-body {
    display: block;
    margin-left: 130px;
}

.kiwi-messagelist-message-repeat .kiwi-messagelist-nick {
    /* Set the opacity instead of making it invisible so that it's still selectable when copying text */
    opacity: 0;
    cursor: default;
}

.kiwi-messagelist-body .kiwi-nick {
    cursor: pointer;
}

/* Topic changes */
.kiwi-messagelist-message-topic {
    margin: 10px;
    background: #FFF5AB;
    border: 1px solid #F3C572;
    border-radius: 5px;
    text-align: center;
}
.kiwi-messagelist-message-topic .kiwi-messagelist-time {
    display: none;
}
.kiwi-messagelist-message-topic .kiwi-messagelist-nick {
    display: none;
}
.kiwi-messagelist-message-topic .kiwi-messagelist-body {
    margin-left: 0;
}

/* Actions */
.kiwi-messagelist-message-action .kiwi-messagelist-message-body {
    font-style: italic;
}

/* Traffic (joins, parts, quits, kicks) */
.kiwi-messagelist-message-traffic .kiwi-messagelist-body {
    font-style: italic;
}
.kiwi-messagelist-message-traffic-join {
    color: #009900;
}
.kiwi-messagelist-message-traffic-join .kiwi-nick:before {
    content: "→ ";
}
.kiwi-messagelist-message-traffic-quit,
.kiwi-messagelist-message-traffic-part,
.kiwi-messagelist-message-traffic-kick {
    color: #900;
}
.kiwi-messagelist-message-traffic-quit .kiwi-nick:before,
.kiwi-messagelist-message-traffic-part .kiwi-nick:before, {
    content: "← ";
}
.kiwi-messagelist-message-action .kiwi-messagelist-body {
    color: #009900;
    font-style: italic;
}
.kiwi-messagelist-message-action .kiwi-messagelist-nick {
    display: none;
}

/* MOTD */
.kiwi-messagelist-message-motd {
    color: #666;
    font-family: monospace;
}

/* Links */
.kiwi-messagelist-message-linkhandle {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 0.8em;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .kiwi-messagelist-nick {
        float: none;
    }
    .kiwi-messagelist-body {
        margin-left: 2px;
    }
}



/**
 * Network settings
 */

.kiwi-networksettings {
    padding: 1em;
}
.kiwi-networksettings-section {
    margin: 20px 10px 40px 10px;
}
.kiwi-networksettings-danger h3 {
    background: #d86f6f;
    padding: 5px 10px;
}



/**
 * User box
 */

.kiwi-userbox {
    border: 1px solid #dddddd;
    background: red;
    padding: 10px;
    background: #6b6b6b;
    color: #e0e0db;
    transition: 0.2s top;
    max-width: 50%;
}
@media screen and (max-width: 500px) {
    .kiwi-userbox {
        left: 0;
        right: 0;
        bottom: 40px;
        top: auto !important;
        max-width: 100%;
        border-width: 1px 0;
    }
}
.kiwi-userbox-icon {
    font-size: 1.5em;
    margin-right: 0.3em;
}
.kiwi-userbox > h3 {
    margin: 0 0 0.5em 0;
}
.kiwi-userbox-usermask {
    color: #9e9e9e;
    display: block;
    margin: 0 0 1em 0;
    font-size: 0.9em;
}
.kiwi-userbox-whois {
    background: #ffffff;
    padding: 5px;
    color: #2c3e50;
    line-height: 1.4em;
}
.kiwi-userbox-whois-line {
    display: block;
}
.kiwi-userbox-options {
    margin: 0.7em 0;
}
.kiwi-userbox-options form label {
    display: block;
}



/**
 * Media viewer
 */

.kiwi-mediaviewer-controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.kiwi-mediaviewer-controls-close {
    padding: 3px 15px;
}



/**
 * Misc styles
 */

.kiwi-nick {
    background: #e4e4e4;
    padding: 2px 7px;
    border-radius: 5px;
}
